@import url("https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css");

.hoverclass {
  cursor: pointer;
}

.btn-danger.btn-simple {
  background: #f0f2f5 !important;
  color: #8D8E8E !important;
  border-color: none !important;
  border: 1px solid #8D8E8E;
  border-radius: 4px !important;
}

.btn-danger.btn-simple.active {
  color: #ffffff !important;
  background-color: #0B7AB2 !important;
  border: 1px solid #0B7AB2 !important;
  border-radius: 4px !important;
}

.btn-danger.btn-simple:hover {
  background-color: #0B7AB2 !important;
  color: white !important;
}

.btn-danger,
.btn.bg-gradient-danger {
  box-shadow: none !important;
}

/* .p-inputtext {
  padding-block: 0.1rem !important;
  padding-inline: 0.5rem !important;
} */


/* ::ng-deep .p-overlaypanel .p-overlaypanel-content {
  padding: 0.5rem;
} */

/* .tabViewPanel .p-tabview .p-tabview-panels {
  padding: 0rem !important;
} */

/* .tabViewPanel .p-tabview-nav {
  justify-content: space-between;
} */

/* .tabViewPanel ol,
ul,
dl {
  margin-bottom: 0rem !important;
} */

/* .tabViewPanel .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: #0B7AB2 !important;
  text-decoration: none;
  color: white !important;
  border-radius: 0px !important;
} */

/* .tabViewPanel a:hover {
  color: grey !important;
  text-decoration: none;
} */

/* .p-overlaypanel .p-overlaypanel-content {
  padding: 0.4rem !important;
} */

.navbar {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

/* .roundchart canvas {
  width: 300px !important;
  height: 280px !important;
} */

/* .doughGraph canvas {
  width: 150px !important;
  height: 150px !important;
} */

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  padding-left: var(--bs-gutter-x, 2.5rem) !important;
}

::ng-deep bs-daterangepicker-container {
  left: 720px !important;
  top: 80px !important
}

.card .card-header {
  padding-inline: 1.5rem !important;
  padding-block: 0.5rem !important;
}

.card .card-body {
  padding-inline: 1.5rem !important;
  padding-block: 0.5rem !important;
}

/* .enquiry_content_main .leadassign {
  float: left;
} */

/* .enquiry_content_main .leadassign {
  float: left;
} */

/* .enquiry_content_main .leadassign a {
  text-decoration: none;
  display: block;
  font-size: 12px;
  font-weight: 600;
  padding: 5px 0px 5px 10px;
  margin: 0 4px 0 0;
  cursor: pointer;
  float: left;
  color: #999;
} */

/* .enquiry_content_main {
  background: #fff;
  float: left;
  width: 100% !important;
  height: 98%;
  display: flex !important;
  flex-direction: column !important;
} */

/* .enquiry_content_main .leadassign {
  float: left;
} */

/* .enquiry_content_main .leadassign {
  float: left;
} */

/* .pt-6px {
  padding-top: 6px;
} */

h6 {
  font-size: 14px !important;
  font-weight: 700 !important;
}

/* .enquiry_content_main .leadassign a {
  text-decoration: none;
  display: block;
  font-size: 12px;
  font-weight: 600;
  padding: 5px 15px 5px 15px;
  margin: 0 4px 0 0;
  cursor: pointer;
  float: left;
  color: #999;
} */

/* .enquiry_content_main .leadassign a.active {
  color: #ffff !important;
  border: 2px solid #0B7AB2 !important;
  background-color: #0B7AB2 !important;
  text-decoration: none !important;
  text-underline-offset: 0px !important;
} */

/* .leadassign a {
  font-size: 16px !important;
  font-weight: 600 !important;
  gap: 2rem !important;
} */

/* .executiveLeads a {
  text-decoration: none;
  display: block;
  font-size: 12px;
  font-weight: 500;
  padding: 5px 15px 5px 15px;
  margin: 0 4px 0 0;
  cursor: pointer;
  float: left;
  color: #999;
} */

/* .executiveLeads a.active {
  color: #ffff !important;
  border: 2px solid #0B7AB2 !important;
  background-color: #0B7AB2 !important;
  text-decoration: none !important;
  text-underline-offset: 0px !important;
} */

/* .executiveLeads a {
  font-size: 16px !important;
  font-weight: 500 !important;
  gap: 2rem !important;
} */

/* .custom-control-input:not(:disabled):active~.custom-control-label::before {
  color: #fff;
  background-color: #b3d7ff;
  border-color: #b3d7ff;
} */


/* .custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #007bff;
  background-color: #007bff;
} */

/* .form-switch .form-check-input:checked {
  border-color: #0B7AB2 !important;
  background-color: #0B7AB2 !important;
} */

/* .stageColor {
  color: #00759A !important;
} */

/* .stageLabelColor {
  color: #000000 !important;
} */

/* .buttonwithicon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
} */

/* .font-10 {
  font-size: 10px !important;
} */

/* .bg-gradient-library {
  background-image: linear-gradient(195deg, #6ec5b6 40%, #6ec5b6 100%) !important;
} */

/* .bg-gradient-publish {
  background-image: linear-gradient(195deg, #2873d5 0%, #2873d5 100%);
} */

/* .bg-gradient-bell {
  background-image: linear-gradient(195deg, #d9c65b 50%, #d9c65b 0%);
} */

/* .bg-gradient-touch {
  background-image: linear-gradient(195deg, #f15d5d 30%, #f15d5d 70%);
} */

/* .bg-gradient-setting {
  background-image: linear-gradient(195deg, #0B7AB2 50%, #0B7AB2 50%);
} */

/* .shadow-primary {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgb(0 0 0 / 40%) !important;
} */

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  color: #0B7AB2;
  background-color: rgb(11 122 178 / 10%);
  border: 1px solid #0B7AB2 !important;
  border-radius: 20px;
  box-shadow: none !important;
}

/* .btn-secondary .btn-secondary:hover,
.btn-secondary:focus {
  color: #0B7AB2;
  background-color: #ffffff;
  border: 1px solid #0B7AB2 !important;
} */

/* css code for bar chart  */
#mybarChart {
  width: 100% !important;
  height: 296px !important;
}

/* css code for source chart */
.doughgraph {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #FFE7EF;
  border: 1px solid transparent;
  background-image: conic-gradient(#FF69B4 0% 0%, #FF69B4 0% 0%);
  background-origin: border-box;
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

.inner-cricle {
  width: 90px;
  height: 90px;
  border-radius: 200px;
  background-color: #FFE7EF;
}

.viewall {
  display: flex;
  align-items: center;
  padding-inline: 0.5rem;
  border: 1px solid #E5F4FB;
  background-color: #E5F4FB;
  color: #0B7AB2;
}

/* css code for source chart */

/* css code for Revenue chart */
.total-cricle {
  width: 160px;
  height: 160px;
  border-radius: 150px;
  background-color: #ECEFF5;
  border: 1px solid transparent;
  background-image: rgb(150, 150, 150)radient(#8A53FF 0% 0%, #8A53FF 0% 0%);
  background-origin: border-box;
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

.inner-totalcricle {
  width: 150px;
  height: 150px;
  background-color: #ffffff;
  border-radius: 400px;
}

.retail-cricle {
  width: 130px;
  height: 130px;
  border-radius: 200px;
  background-color: #ECEFF5;
  border: 1px solid transparent;
  background-image: rgb(150, 150, 150)radient(#FF9777 0% 0%, #FF9777 0% 0%);
  background-origin: border-box;
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

.inner-retailcricle {
  width: 120px;
  height: 120px;
  background-color: #ffffff;
  border-radius: 400px;
}

.mandate-cricle {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #ECEFF5;
  border: 1px solid transparent;
  background-image: rgb(150, 150, 150)radient(#FF6B93 0% 0%, #FF6B93 0% 0%);
  background-origin: border-box;
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

.inner-mandatecricle {
  width: 90px;
  height: 90px;
  background-color: #ffffff;
  border-radius: 400px;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.purple {
  background-color: #8A53FF;
}

.orange {
  background-color: #FF9777;
}

.pink {
  background-color: #FF6B93;
}

.text-blue {
  color: #0B7AB2;
}

.text-black {
  color: #000000;
}

.fz-14 {
  font-size: 14px;
}

.gap {
  gap: 0.5rem;
}

/* css code for revenue chart */