/* CENTER-CONTENTS */

.body-cntnts-mandate{
	margin: 30px 0px 10px 0px;
    padding-left: 14rem;
}

.booking_closure_validate{
	width: 100%;
	height: 100%;
    min-height: 1100px;
    padding: 0;
    background: #fff;
    float: left;
	border-right: 1px solid #ddd;
}

.booking_closure_validate h6{
	font-size:13px;
	color:#666666;
	font-weight:400;
	margin:-25px 0 10px 0;
}

.closure_section_1{
	margin:0 15px;
}

.closure_section_1:after{
	content:"";
	display:block;
	clear:both;
}

.closure_section_1 .back_btn:after{
	content:"";
	display:block;
	clear:both;
}

.top_btns{
	margin: 10px 0 10px 0;
}

.back_btn {
	float: left;
}

.closure_section_1 .back_btn a {
	background: #0B7AB2;
	padding: 2px 40px;
	font-size: 14px;
	color: #FFF;
	font-weight: 400;
	text-decoration: none;
	cursor: pointer;
}

.hi_profile span.profile i.fa-user-circle{
	font-size: 80px;
	color: #5ca2f9;
}

.hi_profile .editicon i{
    color:red
}

.hi_profile span.profile img{
	width:100px;
	height:100px;
	border-radius:50%;
}

.hi_profile h2{
	font-size:18px;
	font-weight:700;
	color:#252525;
	margin:10px 0 0 0;
}

.hi_profile h3{
	font-size:14px;
	font-weight:700;
	color:#268aca;
	margin:10px 0;
	text-decoration:underline;
}

.hi_profile .status_select label {
	font-size: 13px;
	font-weight: 400;
	color: #666666;
	margin: 0px 12px 0px 0px;
	float: left;
}

.hi_profile h4{
	font-size:13px;
	font-weight:400;
	margin:10px 0 10px 0;
	color: #e5652e;
    text-decoration: underline;
	cursor: pointer;
}

.hi_profile h4 i{
	color: #e5652e;
	font-size: 18px;
}

.hi_profile .assigned label{
	font-size:13px;
	font-weight:400;
	color:#666666;
	margin:3px 10px 0 0;
	float:left;
}


.hi_info_details > div{
	clear:both;
	margin:0 0 15px 0;
}

.hi_info_details > div:after{
	content:"";
	display:block;
	clear:both;
}

.hi_info_details > div p.hiInfosubtags{
	font-size:13px;
	color:#666;
	font-weight: 300;
}

.hi_info_details > div p.hiInfosubtags span{
	display:block;
	color:#252525;
	margin: 3px 0 0 0;
}

.hi_info_details > div p.hiInfosubtags span a{
	color:#e5652e;
	text-decoration:underline;
}

.hi_info_details > div h6{
	font-size:13px;
	color:#252525;
	margin:0;
	display:inline-block;
	padding:0 0px 0 0;
}

.hi_info_details .edit_btn{
	float:right;
	cursor: pointer;
}

.hi_info_details .edit_btn a {
    float: right;
    border: 1px solid #0B7AB2;
    padding: 2px 40px;
    font-size: 14px;
    color: #0B7AB2;
    font-weight: 400;
    text-decoration: none;
    margin: 0;
}

.scroll-height{
	height: 450px;
	float: right;
}

/* Updated-Accordion */

/* MODAL */

.hi_info_details .edit_btn a{
    float: right;
    border: 1px solid #0B7AB2;
    padding: 0px 0px;
    font-size: 14px;
    color: #0B7AB2;
    font-weight: 400;
    text-decoration: none;
    margin: 0;
    width: 80px;
    text-align: center;
}

#edit_details .edit_details_form .save_btn{
	margin:0 auto;
	width: 100%;
}

#edit_details{
	width: 70%;
	margin: 0 auto;
}

#edit_details .modal-header{
	background: #0B7AB2;
    text-align: center;
	display: block;
}

#edit_details .modal-header h4{
	color: #fff;
	line-height: 0;
    margin: 0;
    display: inline-block;
}

.modal-dialog {
    max-width: 750px;
}

#edit_details .edit_details_form div.input_cmn_div{
	margin:0 0 10px 0;
	padding:0 40px;
}

#edit_details .edit_details_form div.input_cmn_div input{
	height: 38px;
}

#edit_details .edit_details_form div label{
	font-size:15px;
	color:#666666;
}

#edit_details .edit_details_form .save_btn button[disabled]{
	opacity: 0.6;
	cursor: not-allowed;
}

#edit_details .edit_details_form .save_btn button {
    background: #0B7AB2;
	padding: 5px 79px;
	height: 35px;
    font-size: 14px;
    color: #FFF;
    font-weight: 400;
    text-decoration: none;
    margin: 25px 0 0 0;
	display:block;
    text-align:center;
	border: 0px;
	width: 100%;
}

#edit_details .close {
    z-index: 99;
	opacity:9;
    color: #fff;
	margin: 0;
    padding: 0;
}

.enqre_modal_txtarea textarea{
	width: 100%;
}

  /* NEW_CSS */

  .source_div{
	background: #0B7AB2;
    padding: 10px 0px;
    font-size: 14px;
    color: #FFF;
	width: 100%;
	margin: 0;
  }

  .source_div p.col-6{
	margin: 0;
  }

.input_cmn_div{
	float: left;
    width: 50%;
}

.save_btn .approve{
	background: #0B7AB2;
    padding: 5px 30px;
    font-size: 14px;
    color: #FFF;
    font-weight: 400;
    text-decoration: none;
    margin: 13px 0 0 0;
    border: 0px;
}

.nav-item .nav-link,
.nav-tabs .nav-link {
    -webkit-transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
}

.card a {
    -webkit-transition: all 150ms ease 0s;
    -moz-transition: all 150ms ease 0s;
    -o-transition: all 150ms ease 0s;
    -ms-transition: all 150ms ease 0s;
    transition: all 150ms ease 0s;
}



@-moz-keyframes nc-icon-spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@keyframes nc-icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.nav-tabs {
    border: 0;
    padding: 15px 0.7rem;
}

.nav-tabs:not(.nav-tabs-neutral)>.nav-item>.nav-link.active {
    box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3);
}

.card .nav-tabs {
    border-top-right-radius: 0.1875rem;
    border-top-left-radius: 0.1875rem;
}

.nav-tabs>.nav-item>.nav-link {
    color: #888888;
    margin: 0;
    margin-right: 5px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 30px;
    font-size: 14px;
    padding: 11px 23px;
    line-height: 1.5;
}

.nav-tabs>.nav-item>.nav-link.active {
    background:#0B7AB2;
    border-radius: 30px;
    color: #FFFFFF;
}

.editicon{
	margin: 0px 0px 0px 8px;
    cursor: pointer;
}

.wrapper{
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 40px;
  }

  .wrapper .option{
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 2px;
    cursor: pointer;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
    margin-right: 4px;
  }

  .wrapper .option .dot::before{
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #0069d9;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
  }

  input[type="checkbox"]{
    display: none;
  }

  input[type="radio"]{
    display: none;
  }

  #option-1:checked:checked ~ .option-1,
  #option-2:checked:checked ~ .option-2,
  #option-3:checked:checked ~ .option-3,
  #option-4:checked:checked ~ .option-4,
  #option-5:checked:checked ~ .option-5,
  #option-6:checked:checked ~ .option-6,
  #option-7:checked:checked ~ .option-7,
  #option-8:checked:checked ~ .option-8,
  #option-9:checked:checked ~ .option-9,
  #option-10:checked:checked ~ .option-10,
  #option-11:checked:checked ~ .option-11,
  #option-12:checked:checked ~ .option-12,
  #option-13:checked:checked ~ .option-13,
  #option-14:checked:checked ~ .option-14,
  #option-15:checked:checked ~ .option-15,
  #option-16:checked:checked ~ .option-16,
  #option-17:checked:checked ~ .option-17,
  #option-18:checked:checked ~ .option-18,
  #option-19:checked:checked ~ .option-19,
  #option-19:checked:checked ~ .option-19,
  #option-20:checked:checked ~ .option-20,
  #option-21:checked:checked ~ .option-21,
  #option-22:checked:checked ~ .option-22,
  #option-23:checked:checked ~ .option-23,
  #option-24:checked:checked ~ .option-24,
  #option-25:checked:checked ~ .option-25,
  #option-26:checked:checked ~ .option-26,
  #option-27:checked:checked ~ .option-27,
  #option-28:checked:checked ~ .option-28
  {
    border-color: #0B7AB2;
    background: #0B7AB2;
  }

  .wrapper .option span{
    font-size: 14px;
    color: #808080;
  }

  #option-1:checked:checked ~ .option-1 span,
  #option-2:checked:checked ~ .option-2 span,
  #option-3:checked:checked ~ .option-3 span,
  #option-4:checked:checked ~ .option-4 span,
  #option-5:checked:checked ~ .option-5 span,
  #option-6:checked:checked ~ .option-6 span,
  #option-7:checked:checked ~ .option-7 span,
  #option-8:checked:checked ~ .option-8 span,
  #option-9:checked:checked ~ .option-9 span,
  #option-10:checked:checked ~ .option-10 span,
  #option-11:checked:checked ~ .option-11 span,
  #option-12:checked:checked ~ .option-12 span,
  #option-13:checked:checked ~ .option-13 span,
  #option-14:checked:checked ~ .option-14 span,
  #option-15:checked:checked ~ .option-15 span,
  #option-16:checked:checked ~ .option-16 span,
  #option-17:checked:checked ~ .option-17 span,
  #option-18:checked:checked ~ .option-18 span,
  #option-19:checked:checked ~ .option-19 span,
  #option-20:checked:checked ~ .option-20 span,
  #option-21:checked:checked ~ .option-21 span,
  #option-22:checked:checked ~ .option-22 span,
  #option-23:checked:checked ~ .option-23 span,
  #option-24:checked:checked ~ .option-24 span,
  #option-25:checked:checked ~ .option-25 span,
  #option-26:checked:checked ~ .option-26 span,
  #option-27:checked:checked ~ .option-27 span,
  #option-28:checked:checked ~ .option-28 span
  {
    color: #fff;
  }

  /* New history track design */

.history-tl-container{
	width: 80%;
	margin: 0 0 0 8em;
	display:block;
	position:relative;
}

.history-tl-container ul.tl{
    margin:20px 0;
    padding:0;
    display:inline-block;

}

.history-tl-container ul.tl li{
    list-style: none;
    margin:auto;
    min-height:50px;
    border-left:1px dashed #86D6FF;
    padding:0 0 50px 30px;
    position:relative;
}

.history-tl-container ul.tl li:last-child{ border-left:0;}
.history-tl-container ul.tl li::before{
    position: absolute;
    left: -10px;
    top: -5px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 0.74);
    border-radius: 500%;
    background: #258CC7;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;
}

.history-tl-container ul.tl li:hover::before{
    border-color:  #258CC7;
    transition: all 1000ms ease-in-out;
}

ul.tl li .item-detail{
    color:rgba(0,0,0,0.5);
    font-size:12px;
}

ul.tl li .timestamp{
    color: #8D8D8D;
    position: absolute;
  	width:100px;
    text-align: right;
    font-size: 12px;
	margin-left: -12rem;
    margin-top: -1.1rem;
}

.historynametitle{
	position: relative;
    top: -0.6rem;
}

	#dealcloserequest label{
		font-weight: bold;
	}

	.mail_num{
		color: #0B3544 !important;
    	font-weight: 500;
	}

	.spantitle{
		color: #666;
    	font-weight: 300;
	}

	.leadrcvdtitle{
		color: #d9d8d8;
		font-weight: 300;
	}

	.leadstatusspan{
		color: #fff;
		display: block;
		padding: 0.5em;
	}

	.leadstatusspan_exec{
		color: #fff;
		display: block;
		padding: 0.5em;
		text-align: center;
	}

	.leadstatusspan span{
		color: #ffffff9e;
	}

	.mainitemsspan{
		color: #a5a1a1;
	}

.spacing_p{
	margin-bottom: 0.6rem !important;
}
















