/* CENTER-CONTENTS */
html,
body {
    overflow: hidden;
}


.body-cntnts {
    /* padding-left: 14.5rem; */
    margin: 10px 0px 10px 8px !important;
    width: 98.5% !important;
}


.enquiry_content_main {
    background: #f4f4f4;
    float: left;
    height: 100%;
    padding-left: 0.2rem;
    width: 100% !important;
}


a.apply_btn {
    background-color: #0B7AB2;
    color: #fff;
    padding: 7px 11px 6px 10px;
    float: right;
    cursor: pointer;
}

.enquiry_content_main .button_section {
    margin: 0;
    float: left;
}

.enquiry_content_main tbody tr td a.id_style {
    text-decoration: underline;
}

.enquiry_content_main .button_section:after {
    content: "";
    display: block;
    clear: both;
}

.enquiry_content_main .button_section .create_new_enquiry {
    float: left;
    margin: 10px 0 0 0;
}

.enquiry_content_main .button_section .leadassign {
    float: left;
}

.enquiry_content_main .button_section .leadassign a {
    text-decoration: none;
    display: block;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 0px 5px 10px;
    margin: 0 4px 0 0;
    cursor: pointer;
    float: left;
    color: #999;
    background: #edebeb;
    border-radius: 6px;
}

.filterspan {
    color: #9f9b9b;
    display: flex;
    gap: 0.1rem;
    padding-bottom: 3px;
    width: 100%;
}

.enquiry_content_main .button_section .leadassign a.active {
    color: #ffffff;
    background-color: #0B7AB2;
    /* text-decoration: underline 2px; */
    text-underline-offset: 10px;
    border: 1px solid #0B7AB2;
}

.enquiry_content_main .button_section .download {
    float: right;
}

.enquiry_content_main .button_section .download a {
    text-decoration: none;
    display: block;
    font-size: 14px;
    color: #252525;
    font-weight: 700;
    padding: 6px 15px 0px 15px;
}

/*============= Enquiry Table CSS Start =========================*/

.content_table_main {
    width: 100%;
}

.CSassigned_table {
    overflow: scroll;
    width: 100%;
    height: 680px;
}

.lead_norecord {
    position: relative;
    top: 220px;
    font-weight: 700;
}

.enquiry_table_body {
    font-size: 14px;
    overflow-y: auto;
    width: 100%;
}

.leadsRemarks {
    height: 300px;
    overflow: auto;
}

.content_table_main tbody tr {
    width: 100%;
    border-bottom: 1px solid #dddddd;
    padding: 8px 0px 2px 0px;
}

.content_table_main thead {
    background: #05abe0;
    position: sticky;
    top: 0;
    z-index: 1;
}

.even-row {
    background-color: white;
}

.odd-row {
    background-color: #f4f4f4;
}

.content_table_main thead tr th {
    padding: 8px 0px 8px 6px;
    color: #FFF;
    font-size: 13px;
    font-weight: 400;
}

.content_table_main tbody tr td {
    padding: 10px 4px 10px 4px;
    color: #666666;
    width: 150px;
    position: relative;
}

.content_table_main tbody tr td:nth-child(1) {
    width: 10px !important;
}

.content_table_main tbody tr td:nth-child(2) {
    width: 300px;
}

.content_table_main .enquiry_table_body {
    border-bottom: 1px solid #e7e7e7;
}

.content_table_main tbody tr td a.btn_reassgn {
    border: 1px solid #999;
    padding: 4px 6px 4px 6px;
    cursor: pointer;
}

.date_filter {
    float: left;
    margin: 5px 0 0px 0px;
}

.date_to_label {
    float: left;
    margin: 34px 10px 0px 10px;
}

.date_to_date {
    float: left;
    margin: 29px 0 0 0;
}

.reassign {
    float: right;
    margin: 0px 5px 0px 5px;
    background-color: #0B7AB2;
    padding: 7px 11px 6px 10px;
    cursor: pointer;
}

.fas {
    margin: 0px 5px 0px 0px;
}

.reassign a {
    color: #fff;
}

.reassignlead_modal {
    max-width: 1050px;
    margin: 0 auto;
}

.reassign_catog_buttons {
    cursor: pointer;
    text-align: center;
}

.reassign_catog_buttons a {
    color: #fff;
    background: #14a226;
    padding: 12px 12px 12px 12px;
    margin: 0px 10px 0px 0px;
}

.reassign_catog_buttons.seconddiv {
    display: inline-grid;
    margin: 20px 0 0 0;
}

.more_filter_maindiv {
    position: absolute;
    background-color: #fff;
    width: 50%;
    z-index: 1050;
    right: 0;
}

.datfiltermain {
    width: 100%;
    float: left;
}

/* New Design concept from ROLO */

.crm-sub-container {
    order: 2;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-direction: row;
}

.panel-1 {
    order: 1;
    flex-grow: 1;
    min-width: 50%;
    background: #ddd;
}

.crm-auto-scroll {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.padding-medium {
    padding: 0 16px;
}

.panel-content {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 0px #dcdee0;
}

.panel-2 {
    order: 2;
    flex-grow: 1;
    margin-left: 16px;
    background: #000;
    min-width: 50%;
}

.lead-flag {
    display: inline-block;
    color: #FFFFFF !important;
    font-size: 12px !important;
    padding: 0.4em 0.5em;
    line-height: 1;
    border-radius: 3px;
    margin: 5px 0 5px 0;
}

.stages {
    background-color: #e91e63;
}

.suggested {
    display: inline-block;
    color: #2ea1ff !important;
    font-size: 12px !important;
    padding: 0.4em 0.5em;
    line-height: 1;
    border-radius: 3px;
    background-color: #E5F3FF !important;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 3px;
}

.lastupdated {
    font-size: 11px;
    font-weight: 300;
    position: absolute;
    bottom: 0;
    right: 4px;
}

.leadrecieved {
    font-size: 11px;
    font-weight: 300;
}

.assignees {
    background-color: red;
    color: #fff;
    padding: 0.2rem;
    float: right;
    border-radius: 0;
    font-size: 12px;
    line-height: 12px;
}

.crm-auto-scroll {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.padding-medium {
    padding: 0 16px;
}

.panel-content {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 0px #dcdee0;
}

.no-border {
    border: none !important;
}

.conv-container {
    height: calc(100vh - 64px);
    overflow: hidden;
    min-width: 500px !important;
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.flex-row {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row !important;
}

.profile-image {
    float: left;
}

.profile-image img {
    border-radius: 50%;
    width: 55px;
    height: 55px;
}

.cursor-pointer {
    cursor: pointer;
}

.margin-left-20px {
    margin-left: 20px;
}

.center-vertical {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    display: block;
}

.flex-max-content {
    flex: 1;
}

.contact-header-profile {
    display: flex;
    gap: 1rem;
}

.text-row {
    display: block;
    width: 100%;
    word-break: break-word;
}

.rolo-text-header {
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 600;
    color: rgba(0, 0, 0, .87);
}

.text-color-secondary {
    color: rgba(0, 0, 0, .54) !important;
}

.mbo-0 {
    margin-bottom: 0px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.font-secondary {
    font-size: 12px;
}

.crm-naming {
    text-transform: capitalize;
}

.float-left {
    float: left !important;
}

.center-vertical-close {
    position: relative;
    top: 5%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
}

.tag-flag {
    display: inline-block;
    color: #2ea1ff !important;
    font-size: 12px !important;
    padding: 0.4em 0.5em;
    line-height: 1;
    border-radius: 3px;
    background-color: #E5F3FF !important;
}

.margin-right-3px {
    margin-right: 3px;
}

.margin-left-10px {
    margin-left: 10px;
}

.conv-icon {
    width: 24px;
    height: 24px;
}

.recent-line {
    position: absolute;
    width: 1px;
    height: 100%;
    z-index: 4;
    margin: 0;
    margin-left: 28px;
    background: rgba(0, 0, 0, 0.1);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.recent-list {
    padding: 0 16px;
}

.activity-icon {
    width: 26px;
    height: 26px;
    margin-top: 16px;
}

.bg_color_new_contact {
    background-color: #A658F3 !important;
}

.activity-icon {
    position: relative;
    padding: 5px;
    background-color: red;
    border-radius: 50%;
    z-index: 4;
}

.recent-list-content {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px 33px;
    margin-left: -33px;
    margin-right: -16px;
}

.position-relative {
    position: relative !important;
}

.card-footer {
    z-index: 15;
}

.card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.note-input {
    min-height: 34px !important;
    max-height: 200px !important;
    white-space: pre-wrap;
}

.margin-top-3px {
    margin-top: 3px !important;
}

.align-left-fixed {
    text-align: left !important;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.input-group-text {
    background-color: #F4F6F8;
}

.attachments {
    margin-top: 4px;
}

.file-chooser {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.file-chooser img {
    padding: 5px;
    position: relative;
}

.file-chooser input {
    width: 35px;
    height: 35px;
    position: absolute;
    margin-left: -34px;
    opacity: 0;
    cursor: pointer;
}

.margin-right-20px {
    margin-right: 20px;
}

.flex-center {
    flex: 1;
}

.no-padding {
    padding: 0 !important;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

/* New Design concept from ROLO */

.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 40px;
}

.wrapper .option {
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 2px;
    cursor: pointer;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
    margin-right: 4px;
}

.wrapper .option .dot::before {
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #0069d9;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
}

input[type="radio"] {
    display: none;
}

#option-1:checked:checked~.option-1,
#option-2:checked:checked~.option-2,
#option-3:checked:checked~.option-3,
#option-4:checked:checked~.option-4,
#option-5:checked:checked~.option-5,
#option-6:checked:checked~.option-6 {
    border-color: #0B7AB2;
    background: #0B7AB2;
}

.wrapper .option span {
    font-size: 14px;
    color: #808080;
}

#option-1:checked:checked~.option-1 span,
#option-2:checked:checked~.option-2 span,
#option-3:checked:checked~.option-3 span,
#option-4:checked:checked~.option-4 span,
#option-5:checked:checked~.option-5 span,
#option-6:checked:checked~.option-6 span {
    color: #fff;
}

.chip {
    display: inline-block;
    font-size: 14px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.closebtn:hover {
    color: #000;
}

.moveretailbtn {
    float: left;
    padding: 5px 0px 5px 34px;
    cursor: pointer;
}

.moveretailbtn i {
    margin: 0;
    cursor: pointer;
}

.moveretailbtn label {
    cursor: pointer;
}

.nextandtoday {
    display: block;
    color: #fff;
    background: darkseagreen;
    text-align: center;
    border-radius: 4px;
}

.firstvisit {
    display: block;
    text-align: center;
    font-weight: 800;
    opacity: 0.6;
}

.lastvisit {
    display: block;
    text-align: center;
    font-weight: 800;
    opacity: 0.6;
}

.overduestatus {
    display: block;
    color: #fff;
    background: red;
    text-align: center;
    border-radius: 4px;
}

.onlydatefetch {
    display: block;
    font-weight: 400;
}

.main_count_header {
    background: #0B7AB229;
    color: #000000;
    /* padding-left: 14.5em!important; */
    padding-inline: 1.5rem;
    padding-top: 2rem
}

.table-container {
    box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 25%), 0px 2px 6px 2px rgb(60 64 67 / 10%);
    border-radius: 12px;
    padding-block: 0.5rem;
    background-color: white;
}

#like-button {
    color: #cd0928;
}

.dropdown-search-container {
    position: sticky;
    top: 0;
    background: #fff;
    padding-top: 3px;
    border-bottom: 1px solid #ddd;
}

.dropdown-menu {
    padding: 0 !important;
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .body-cntnts {
        width: 100%;
    }

    .enquiry_content_main {
        width: 100%;
    }
}


@media (min-width: 500px) and (max-width: 1279px) {
    .enquiry_content_main .button_section .leadassign a {
        font-size: 10px;
        font-weight: 500;
        padding: 5px 0px 5px 3px;
    }
}

@media (min-width: 1250px) and (max-width: 1366px) {
    .enquiry_content_main .button_section .leadassign a {
        padding: 5px 6px 5px 6px;
    }
}

@media (max-width: 1000px) {
    .main_count_header {
        padding-left: 0.2rem !important;
    }

    .body-cntnts {
        padding-left: 0.2rem;
    }
}

::ng-deep bs-daterangepicker-container {
    position: absolute;
    top: 205px !important;
    left: 36rem !important
}

.button_section .planleadassign {
    background-color: #ffffff !important;
    border-radius: 50px;
    padding-inline: 0.2rem;
    padding-block: 0.2rem;
}

.button_section .planleadassign a {
    flex-shrink: 0;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin: 0 0px 0 0px;
    cursor: pointer;
    float: left;
    color: #000000;
    border: none;
    padding: 5px 10px 5px 10px;
}

.button_section .planleadassign a.active {
    color: #ffffff;
    background: #0B7AB2;
    border-radius: 50px;
    border: 1px solid #0B7AB2;
    border-bottom: none;
    font-weight: 700;
    font-size: 14px;
}

::ng-deep .ui-multiselect .ui-multiselect-label {
    padding: 0px 0em 0em .5em !important;
    border: none !important;
    color: rgba(191, 191, 191, 0.87) !important;
    font-size: 16px !important;
}

::ng-deep body .ui-multiselect .ui-multiselect-item.ui-state-highlight {
    background-color: #ffffff !important;
    color: #000000 !important;
}

::ng-deep .ui-multiselect {
    width: 245px !important;
    height: 2.71428571em !important;
}

::ng-deep body .ui-multiselect {
    padding: 0.5em 0em !important;
}

.modal-dialog.assignlead_modal {
    max-width: 1050px;
    margin: 0 auto;
}

.reassignlead_modal {
    max-width: 1050px;
    margin: 0 auto;
}

.assign_table1 {
    height: 500px;
    overflow: auto;
    border-radius: 10px;
    width: 100%;
}

.call_des {
    /* padding-inline:10px;
    padding-block: 4px;
    background: #0B7AB2;
    color: #ffffff;
    border-radius: 50px;
    display: inline-flex;
    gap: 0.5rem;
    align-items: center; */
    cursor: pointer;
}

.gap-3 {
    gap: 1rem;
}

/* .call_des:hover {
  background-color: green;
} */

.call_lead_modal {
    max-width: 1100px;
    margin: 0 auto;
}

.call_lead_modal .answered_call {
    background: linear-gradient(540deg, #68B768 0%, #006900 80%);
    color: #ffffff !important;
}

.call_lead_modal .disconnected_call {
    background: linear-gradient(540deg, #F68E8E 0%, #B40101 100%) !important;
    color: #ffffff !important;
}

.call_lead_modal .close {
    opacity: 10 !important;
    font-size: 20px;
}

.call_recordings {
    background: #0B7AB2;
    color: #ffffff;
}

.font_18 {
    font-size: 18px;
    font-weight: 500;
}

.font_12 {
    font-size: 12px;
    font-weight: 300;
    color: #8C8C8C;
}

.execnav-scrollable {
    overflow-x: auto;
    overflow-y: hidden;
}

.execnav {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    cursor: pointer;
    gap: 1rem;
}

.execnav-tabs .exec-link {
    font-size: 16px;
    color: #606060;
    background-color: #F1F1F1;
    border: 2px solid transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-inline: 1rem;
    padding-top: 0.5rem;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    border-bottom: none;
}

.execnav-tabs .exec-link.active {
    color: #0B7AB2;
    font-weight: 500;
    background-color: #DEF4FF;
    border-color: #0B7AB2;
}

.media-item {
    max-width: 100vw;
    width: 250px !important;
    max-height: 70px;
    height: 40px;
    display: block;
}

audio::-webkit-media-controls-panel {
    background-color: #D8F2FF;
    color: #ffffff !important;
}

audio::-webkit-media-controls-play-button {
    background-color: #ffffff !important;
    color: #0B7AB2 !important;
    border-radius: 50%;
}

audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-volume-slider {
    filter: brightness(0) saturate(100%) invert(27%) sepia(90%) saturate(1374%) hue-rotate(173deg) brightness(95%) contrast(101%);
}

.recordings_content_table_main thead {
    background: #C4E6F8 !important;
    font-weight: 400;
}

.recordings_content_table_main tbody tr {
    background: #ffffff !important;
    font-weight: 400;
    border-bottom: 1px solid lightgray;
}

.blocked_des {
    background: linear-gradient(180deg, #A80303 0%, #E80A0A 100%);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    padding-inline: 6px;
    padding-block: 4px;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.button_stage_section .planleadstage {
    background-color: #ffffff !important;
    border-radius: 3px;
    padding-inline: 0.2rem;
    padding-block: 0.2rem;
}

.button_stage_section .planleadstage a {
    flex-shrink: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0px 0 0px;
    cursor: pointer;
    float: left;
    color: #000000;
    border: none;
    padding: 2px 15px 2px 15px;
}

.button_stage_section .planleadstage a.active {
    color: #ffffff;
    background: #00334C;
    border-radius: 3px;
    border: 1px solid #00334C;
    border-bottom: none;
    font-weight: 500;
    font-size: 14px;
}

.history_modal_body .modal-header .close {
  margin: 0rem !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.style_close_btn {
  background: #FFFFFF !important;
  border: 0.5px solid #D9D9D9 !important;
  color: #656565 !important;
  padding-block: 0.3rem;
  padding-inline: 0.5rem;
  border-radius: 4px !important;
}

.history_modal{
    max-width: 650px !important;
}

.executive_style {
    background: #D4ECFF;
    color: #004B71;
    font-size: 20px;
    font-weight: 500;
    padding-inline: 15px;
    height: 32px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.assigned_col{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    background: #558FA8;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.not_assigned_col{
    font-size: 16px;
    font-weight: 400;
    color: #9D2728;
    background: #FFD7C7;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.untouched_col{
    font-size: 16px;
    font-weight: 400;
    color: #624A00;
    background: #FFF1C8;
     height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.assigned_inner_row{
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.6px solid #8DCBE6;
    border-left: 0.6px solid #8DCBE6;
    background: #FBFDFF;
    color: #005579;
    font-size: 12px;
    font-weight: 400;
    padding-inline:10px;
}

.not_assigned_inner_row{
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.6px solid #FFD8C9;
    border-left: 0.6px solid #FFD8C9;
    background: #FFF8F6;
    color: #9D2728;
    font-size: 12px;
    font-weight: 400;
    padding-inline:10px; 
}

.untouched_inner_row{
    height: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.6px solid #FFF1C8;
    border-inline: 0.6px solid #FFF1C8;
    background: #FFFCF2;
    color: #624A00;
    font-size: 12px;
    font-weight: 400;
    padding-inline:10px; 
}