.body-cntnts {
  width: 100%;
  margin: 28px 0px 10px 0px !important;
  background: #F5F7F9;
  padding-right: 0.8rem !important;
}

.btn-danger.btn-simple {
  background: #ffffff !important;
  color: #727272 !important;
  border: 1px solid #727272 !important;
  border-radius: 5px !important;
  box-shadow: none !important;
}

.btn-danger.btn-simple.active {
  background-color: #0B7AB2 !important;
  border: 1px solid #0B7AB2 !important;
  color: #ffffff !important;
  background-image: none !important;
}

.buttonwithicon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: .5rem .5rem !important;
}

.cursor-pointer {
  cursor: pointer;
}

.CSassigned_table {
  height: calc(100dvh - 135px);
  background: #ffffff !important;
  padding-inline: 0.5rem;
  border-radius: 10px;
  overflow-x: scroll;
}

.crm-sub-container {
  order: 2;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
}

.panel-1 {
  order: 1;
  flex-grow: 1;
  min-width: 50%;
  /* background: #ddd; */
}

.crm-auto-scroll {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.padding-medium {
  padding: 0 16px;
}

.even-row {
  background-color: white;
}

.odd-row {
  background-color: #f4f4f4;
}

.content_table_main {
  width: 100%;
}

.content_table_main tbody tr {

  width: 100%;
  border-bottom: 1px solid #dddddd;
  padding: 8px 0px 2px 0px;
}

.content_table_main thead {
  background: #05abe0;
  position: sticky;
  top: 0;
  z-index: 1;
}

.content_table_main thead tr th {
  padding: 10px 0px 10px 6px;
  color: #FFF;
  font-size: 13px;
  font-weight: 400;
}

.content_table_main tbody tr td {
  padding: 10px 4px 10px 4px;
  color: #666666;
  width: 150px;
  position: relative;
}

.content_table_main tbody tr td:nth-child(1) {
  width: 10px !important;
}

.content_table_main tbody tr td:nth-child(2) {
  width: 300px;
}

.content_table_main .enquiry_table_body {
  border-bottom: 1px solid #e7e7e7;
}

.content_table_main tbody tr td a.btn_reassgn {
  border: 1px solid #999;
  padding: 4px 6px 4px 6px;
  cursor: pointer;
}


.table-container {
  box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 25%), 0px 2px 6px 2px rgb(60 64 67 / 10%);
  border-radius: 12px;
  padding-block: 0.5rem;
  background-color: white;
}

.enquiry_content_main {
  background: #f4f4f4;
  float: left;
  height: 100%;
  width: 100% !important;
}

.button_section .planleadassign {
  background-color: #ffffff !important;
  border-radius: 50px;
  padding-inline: 0.2rem;
  padding-block: 0.2rem;
}

.button_section .planleadassign a {
  flex-shrink: 0;
  text-decoration: none;
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin: 0 0px 0 0px;
  cursor: pointer;
  float: left;
  color: #000000;
  border: none;
  padding: 5px 15px 5px 15px;
}

.button_section .planleadassign a.active {
  color: #ffffff;
  background: #0B7AB2;
  border-radius: 50px;
  border: 1px solid #0B7AB2;
  border-bottom: none;
  font-weight: 700;
  font-size: 14px;
}

.btn-secondary {
  color: #5D5D5D;
  background-color: #D5D5D5 !important;
  border-color: #D5D5D5 !important;
}

.liveCalls_modal {
  max-width: 1100px;
  margin: 0 auto;
}

.enquiry_modal_body .modal-header {
  background: #0B7AB2 !important;
  color: #ffffff;
}

.live_calls_table tbody tr td {
  color: #171717;
}

.table-striped tbody tr {
  background-color: #ffffff;
}

::ng-deep .live_call_refresh_btn .btn-outline-info {
  color: #0B7AB2;
  border-color: #0B7AB2;
  background: #0B7AB21A;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.filterspan {
  color: #9f9b9b;
  display: flex;
  gap: 0.1rem;
  width: 100%;
  padding-block: 5px;
}

.closebtn {
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.closebtn:hover {
  color: #000;
}

.chip {
  display: inline-block;
  font-size: 14px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

.media-item {
  max-width: 100vw;
  width: 140px !important;
  max-height: 50px;
  height: 35px;
  display: block;
}

audio::-webkit-media-controls-panel {
  background-color: #D8F2FF;
  color: #ffffff !important;
}

audio::-webkit-media-controls-play-button {
  background-color: #ffffff !important;
  color: #0B7AB2 !important;
  border-radius: 50%;
}

audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-volume-slider {
  filter: brightness(0) saturate(100%) invert(27%) sepia(90%) saturate(1374%) hue-rotate(173deg) brightness(95%) contrast(101%);
}

.no-record-list {
  font-weight: 900;
}

.hoverclass {
  cursor: pointer;
}

.top-10 {
  top: 10px;
}

.left_20 {
  left: 10px;
}

::ng-deep .ui.selection.dropdown {
  width: 200px !important;
  min-height: 1.5rem !important;
  padding: 0.6rem;
}

.common_div {
  background: #ffffff !important;
  margin-top: 1.5rem;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
  border-radius: 10px;
}

.table_body {
  background: #ffffff !important;
}

.font-16 {
  font-size: 16px;
}

.missed_call {
  padding-block: 3px;
  background: #F44336;
  color: #fff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 120px;
}

.reconnected_call {
  padding-block: 3px;
  background: #407703;
  color: #fff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 120px;
}

.font_pop {
  font-family: 'Poppins';
}

.all_calls_table thead tr th {
  color: #727272;
  font-size: 12px !important;
  font-weight: 400 !important;
}

.all_calls_table tbody tr td {
  color: #666666;
  font-size: 12px !important;
  font-weight: 400 !important;
}

.btn_icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.lead_norecord {
  position: relative;
  top: 40%;
  font-weight: 700;
}

.media-item {
  max-width: 100vw;
  width: 180px !important;
  max-height: 50px;
  height: 35px;
  display: block;
}

audio::-webkit-media-controls-panel {
  background-color: #D8F2FF;
  color: #ffffff !important;
}

audio::-webkit-media-controls-play-button {
  background-color: #ffffff !important;
  color: #0B7AB2 !important;
  border-radius: 50%;
}

audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-volume-slider {
  filter: brightness(0) saturate(100%) invert(27%) sepia(90%) saturate(1374%) hue-rotate(173deg) brightness(95%) contrast(101%);
}