/* CENTER-CONTENTS */
html,
body {
    overflow: hidden;
}

.body-cntnts {
    /* padding-left: 15rem !important; */
    width: 99% !important;
    margin: 10px 0px 10px 0px !important;
}

.enquiry_content_main {
    background: #f4f4f4;
    float: left;
    height: 100%;
    width: 100% !important;
}

a.asssign_search {
    background-color: #0B7AB2;
    color: #fff;
    padding: 7px 11px 6px 10px;
    margin: 30px 0px 0px -66px;
    float: left;
    cursor: pointer;
}

a.apply_btn {
    background-color: #0B7AB2;
    color: #fff;
    padding: 7px 11px 6px 10px;
    float: right;
    cursor: pointer;
}

.enquiry_content_main .button_section {
    margin: 0;
    margin-inline: 5px;
    float: left;
    display: flex;
    justify-content: center;
    /* display: flex;
    overflow-y: hidden;
    overflow-x: scroll; */
    /* padding-inline: 1rem; */
    align-items: center;
    /* justify-content: center;  */
}

.enquiry_content_main tbody tr td a.id_style {
    text-decoration: underline;
}

.enquiry_content_main .button_section:after {
    content: "";
    display: block;
    clear: both;
}

.enquiry_content_main .button_section .create_new_enquiry {
    float: left;
    margin: 10px 0 0 0;
}

.button_section .leadassign {
    float: left;
    width: 100%;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-inline: 4px;
}

.button_section .leadassign a {
    flex-shrink: 0;
    text-decoration: none;
    display: block;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 15px 5px 15px;
    margin: 0 10px 0 0;
    cursor: pointer;
    float: left;
    color: #333333;
    /* background: #edebeb; */
    border-radius: 6px;
    border: 1px solid #333333;
}

.filterspan {
    color: #9f9b9b;
    display: flex;
    gap: 0.1rem;
    width: 100%;
    padding-bottom: 3px;
}

.button_section .leadassign a.active {
    /* background: #0B7AB2; */
    font-size: 12px;
    font-weight: 700 !important;
    color: #0B7AB2;
    border: 1px solid #0B7AB2;
    /* color: #4183C4;
	text-decoration: underline 2px;
    text-underline-offset: 10px; */
}

.enquiry_content_main .button_section .download {
    float: right;
}

.enquiry_content_main .button_section .download a {
    text-decoration: none;
    display: block;
    font-size: 14px;
    color: #252525;
    font-weight: 700;
    padding: 6px 15px 0px 15px;
}

/*============= Enquiry Table CSS Start =========================*/

.content_table_main {
    width: 100%;
}

.CSassigned_table {
    height: 680px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}

.assign_table1 {
    height: 450px;
    overflow: auto;
    width: 100%;
}

.lead_norecord {
    position: relative;
    top: 220px;
    font-weight: 700;
    white-space: nowrap;
}

.enquiry_table_body {
    font-size: 13px;
    overflow-y: auto;
    width: 100%;
}

.content_table_main tbody tr {

    width: 100%;
    border-bottom: 1px solid #dddddd;
    padding: 8px 0px 2px 0px;
}

.content_table_main thead {
    background: #05abe0;
    position: sticky;
    top: 0;
    z-index: 1;
}

.content_table_main thead tr th {
    padding: 10px 0px 10px 6px;
    color: #FFF;
    font-size: 13px;
    font-weight: 400;
}

.content_table_main tbody tr td {
    padding: 10px 4px 10px 4px;
    color: #666666;
    width: 150px;
    position: relative;
}

.content_table_main tbody tr td:nth-child(1) {
    width: 10px !important;
}

.content_table_main tbody tr td:nth-child(2) {
    width: 300px;
}

.content_table_main .enquiry_table_body {
    border-bottom: 1px solid #e7e7e7;
}

.content_table_main tbody tr td a.btn_reassgn {
    border: 1px solid #999;
    padding: 4px 6px 4px 6px;
    cursor: pointer;
}



/*============= Enquiry Table CSS End =========================*/

/* MODAL_START */

.assign_table {
    height: 500px;
    overflow: auto;
    border-radius: 10px;
    width: 100%;
}

#lead_forward {
    width: 100%;
    margin: 50px 0px 0px 0px;
    height: 800px;
    overflow: hidden;
}

#lead_forward .modal-header {
    background: #0B7AB2;
    text-align: center;
}

#lead_forward .modal-header h4 {
    color: #fff;
}

#lead_forward .new_executive_form div.input_cmn_div {
    padding: 0px 15px 20px 15px;
}

#lead_forward .new_executive_form div label {
    font-size: 15px;
    color: #666666;
    font-weight: 400;
    display: block;
}

#lead_forward .new_executive_form div input {
    width: 100%;
    padding: 5px 10px;
    height: 35px;
    font-size: 13px;
    font-weight: 400;
    color: #666666;
}

#lead_forward .new_executive_form .save_btn {
    margin: 0;
    width: 100%;
}

#lead_forward .close {
    position: relative;
    z-index: 99;
    opacity: 9;
    top: -50px;
    left: 2px;
    color: #000;
    transform: rotate(90deg);
}

#lead_reassign div.input_cmn_div {
    padding: 0px 15px 20px 15px;
}



#lead_reassign div.input_cmn_div button.approve {
    background: #0B7AB2;
    padding: 5px 79px;
    height: 35px;
    font-size: 14px;
    color: #FFF;
    font-weight: 400;
    text-decoration: none;
    margin: 25px 0 0 0;
    display: block;
    text-align: center;
    border: 0px;
    width: 100%;
}

.search_field {
    float: left;
    margin: 5px 0px 0px 5px;
    width: 25%;
}

#like-button {
    color: #cd0928;
}

.date_filter {
    float: left;
    margin: 5px 0 0px 0px;
}

.date_to_label {
    float: left;
    margin: 34px 10px 0px 10px;
}

.date_to_date {
    float: left;
    margin: 29px 0 0 0;
}

/* RESPONSIVE_STARTS */

.top_buttons {
    width: 100%;
    float: left;
}

.reassign {
    float: right;
    margin: 0px 5px 0px 5px;
    background-color: #0B7AB2;
    padding: 7px 11px 6px 10px;
    cursor: pointer;
}

.fas {
    margin: 0px 5px 0px 0px;
}

.reassign a {
    color: #fff;
}

.reassignlead_modal {
    max-width: 1050px;
    margin: 0 auto;
}

.reassign_catog_buttons {
    cursor: pointer;
    text-align: center;
}

.reassign_catog_buttons a {
    color: #fff;
    background: #14a226;
    padding: 12px 12px 12px 12px;
    margin: 0px 10px 0px 0px;
}

.reassign_catog_buttons.seconddiv {
    display: inline-grid;
    margin: 20px 0 0 0;
}


.reassignlead_modal_catog {
    margin: 0 auto;
}

#lead_reassign_catog {
    width: 100%;
    margin: 50px 0px 0px 0px;
    height: 250px;
    overflow: hidden;
}

#lead_reassign_catog .modal-header {
    background: #0B7AB2;
    text-align: center;
}

#lead_reassign_catog .modal-header h4 {
    color: #fff;
}

#lead_reassign_catog .new_executive_form div.input_cmn_div {
    padding: 0px 15px 20px 15px;
}

#lead_reassign_catog .new_executive_form div label {
    font-size: 15px;
    color: #666666;
    font-weight: 400;
    display: block;
}

#lead_reassign_catog .new_executive_form div input {
    width: 100%;
    padding: 5px 10px;
    height: 35px;
    font-size: 13px;
    font-weight: 400;
    color: #666666;
}

#lead_reassign_catog .new_executive_form .save_btn {
    margin: 0;
    width: 100%;
}

#lead_reassign_catog .close {
    position: relative;
    z-index: 99;
    opacity: 9;
    top: -50px;
    left: 2px;
    color: #000;
    transform: rotate(90deg);
}

.RM_reassignlead_modal {
    max-width: 1050px;
    margin: 0 auto;
}

#lead_forward_RM {
    width: 100%;
    margin: 0px 0px 0px 0px;
    height: 750px;
    overflow-y: scroll;
}

#lead_forward_RM .modal-header {
    background: #0B7AB2;
    text-align: center;
}

#lead_forward_RM .modal-header h4 {
    color: #fff;
}

#lead_forward_RM .new_executive_form div.input_cmn_div {
    padding: 0px 15px 20px 15px;
    width: 50%;
}

#lead_forward_RM .new_executive_form div label {
    font-size: 15px;
    color: #666666;
    font-weight: 400;
    display: block;
}

#lead_forward_RM .new_executive_form div input {
    width: 100%;
    padding: 5px 10px;
    height: 35px;
    font-size: 13px;
    font-weight: 400;
    color: #666666;
}

#lead_forward_RM .new_executive_form .save_btn {
    margin: 0;
    width: 100%;
}

#lead_forward_RM .close {
    position: relative;
    z-index: 99;
    opacity: 9;
    top: -50px;
    left: 2px;
    color: #000;
    transform: rotate(90deg);
}

#lead_forward_RM button.approve {
    background: #0B7AB2;
    padding: 5px 79px;
    height: 35px;
    font-size: 14px;
    color: #FFF;
    font-weight: 400;
    text-decoration: none;
    margin: 25px 0 0 0;
    display: block;
    text-align: center;
    border: 0px;
    width: 100%;
}

.more_filter_maindiv {
    position: absolute;
    background-color: #fff;
    width: 50%;
    /* top: -2em; */
    z-index: 1050;
    right: 0;
}

.datfiltermain {
    width: 100%;
    float: left;
}

.projectfiltermain {
    width: 50%;
    float: left;
}


/* New Design concept from ROLO */

.crm-sub-container {
    order: 2;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-direction: row;
}

.panel-1 {
    order: 1;
    flex-grow: 1;
    min-width: 50%;
    background: #ddd;
}

.crm-auto-scroll {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.padding-medium {
    padding: 0 16px;
}

.panel-content {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 0px #dcdee0;
}

.panel-2 {
    order: 2;
    flex-grow: 1;
    margin-left: 16px;
    background: #000;
    min-width: 50%;
}

.lead-flag {
    display: inline-block;
    color: #FFFFFF !important;
    font-size: 12px !important;
    padding: 0.4em 0.5em;
    line-height: 1;
    border-radius: 3px;
    margin: 5px 0 5px 0;
}

.stages {
    background-color: #e91e63;
}

.suggested {
    display: inline-block;
    color: #2ea1ff !important;
    font-size: 12px !important;
    padding: 0.4em 0.5em;
    line-height: 1;
    border-radius: 3px;
    background-color: #E5F3FF !important;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 3px;
}

.lastupdated {
    font-size: 11px;
    font-weight: 300;
    position: absolute;
    bottom: 0;
    right: 4px;
}

.leadrecieved {
    font-size: 11px;
    font-weight: 300;
}

.assignees {
    background-color: red;
    color: #fff;
    padding: 0.2rem;
    float: right;
    border-radius: 0;
    font-size: 12px;
    line-height: 12px;
}

.crm-auto-scroll {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.padding-medium {
    padding: 0 16px;
}

.panel-content {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 0px #dcdee0;
}

.no-border {
    border: none !important;
}

.conv-container {
    height: calc(100vh - 64px);
    overflow: hidden;
    min-width: 500px !important;
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.flex-row {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row !important;
}

.profile-image {
    float: left;
}

.profile-image img {
    border-radius: 50%;
    width: 55px;
    height: 55px;
}

.cursor-pointer {
    cursor: pointer;
}

.margin-left-20px {
    margin-left: 20px;
}

.center-vertical {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    display: block;
}

.flex-max-content {
    flex: 1;
}

.contact-header-profile {
    display: flex;
    gap: 1rem;
}

.text-row {
    display: block;
    width: 100%;
    word-break: break-word;
}

.rolo-text-header {
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 600;
    color: rgba(0, 0, 0, .87);
}

.text-color-secondary {
    color: rgba(0, 0, 0, .54) !important;
}

.font-secondary {
    font-size: 12px;
}

.crm-naming {
    text-transform: capitalize;
}

.float-left {
    float: left !important;
}

.tag-flag {
    display: inline-block;
    color: #2ea1ff !important;
    font-size: 12px !important;
    padding: 0.4em 0.5em;
    line-height: 1;
    border-radius: 3px;
    background-color: #E5F3FF !important;
}

.margin-right-3px {
    margin-right: 3px;
}

.icon-16 {
    width: 16px !important;
    height: 16px !important;
}

.flag-padding {
    padding: 0.4em 0 0;
    font-size: 10px;
}

.text-color-accent-primary {
    color: #028cff !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.margin-left-10px {
    margin-left: 10px;
}

.conv-icon {
    width: 24px;
    height: 24px;
}

.recent-line {
    position: absolute;
    width: 1px;
    height: 100%;
    z-index: 4;
    margin: 0;
    margin-left: 28px;
    background: rgba(0, 0, 0, 0.1);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.recent-list {
    padding: 0 16px;
}

.activity-icon {
    width: 26px;
    height: 26px;
    margin-top: 16px;
}

.bg_color_new_contact {
    background-color: #A658F3 !important;
}

.activity-icon {
    position: relative;
    padding: 5px;
    background-color: red;
    border-radius: 50%;
    z-index: 4;
}

.recent-list-content {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px 33px;
    margin-left: -33px;
    margin-right: -16px;
}

.position-relative {
    position: relative !important;
}

.card-footer {
    z-index: 15;
}

.card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.note-input {
    min-height: 34px !important;
    max-height: 200px !important;
    white-space: pre-wrap;
}

.margin-top-3px {
    margin-top: 3px !important;
}

.align-left-fixed {
    text-align: left !important;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.input-group-text {
    background-color: #F4F6F8;
}

.attachments {
    margin-top: 4px;
}

.file-chooser {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.file-chooser img {
    padding: 5px;
    position: relative;
}

.file-chooser input {
    width: 35px;
    height: 35px;
    position: absolute;
    margin-left: -34px;
    opacity: 0;
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

.margin-left-20px {
    margin-left: 20px;
}

.margin-right-20px {
    margin-right: 20px;
}

.flex-center {
    flex: 1;
}

.no-padding {
    padding: 0 !important;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

/* New Design concept from ROLO */

.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 40px;
}

.wrapper .option {
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 2px;
    cursor: pointer;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
    margin-right: 4px;
}

.wrapper .option .dot::before {
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #0069d9;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
}

input[type="radio"] {
    display: none;
}

#option-1:checked:checked~.option-1,
#option-2:checked:checked~.option-2,
#option-3:checked:checked~.option-3,
#option-4:checked:checked~.option-4,
#option-5:checked:checked~.option-5,
#option-6:checked:checked~.option-6 {
    border-color: #0B7AB2;
    background: #0B7AB2;
}

.wrapper .option span {
    font-size: 14px;
    color: #808080;
}

#option-1:checked:checked~.option-1 span,
#option-2:checked:checked~.option-2 span,
#option-3:checked:checked~.option-3 span,
#option-4:checked:checked~.option-4 span,
#option-5:checked:checked~.option-5 span,
#option-6:checked:checked~.option-6 span {
    color: #fff;
}

.chip {
    display: inline-block;
    font-size: 14px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.closebtn:hover {
    color: #000;
}

.moveretailbtn {
    float: left;
    padding: 5px 0px 5px 34px;
    cursor: pointer;
}

.moveretailbtn i {
    margin: 0;
    cursor: pointer;
}

.moveretailbtn label {
    cursor: pointer;
}

.nextandtoday {
    display: block;
    color: #fff;
    background: darkseagreen;
    text-align: center;
    border-radius: 4px;
}

.firstvisit {
    display: block;
    text-align: center;
    font-weight: 800;
    opacity: 0.6;
}

.lastvisit {
    display: block;
    text-align: center;
    font-weight: 800;
    opacity: 0.6;
}

.overduestatus {
    display: block;
    color: #fff;
    background: red;
    text-align: center;
    border-radius: 4px;
}

.onlydatefetch {
    display: block;
    font-weight: 400;
}

.absol {
    position: absolute;
}

.main_count_header {
    background: #0B7AB229;
    color: #000000;
    /* padding-left: 15.5em!important; */
    padding-top: 2rem;
    padding-inline: 0.5rem;
}

.table-container {
    box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 25%), 0px 2px 6px 2px rgb(60 64 67 / 10%);
    padding-block: 0.5rem;
    border-radius: 12px;
    background-color: white;
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .body-cntnts {
        width: 99%;
    }

    .enquiry_content_main {
        width: 85%;
    }

}


@media (max-width: 1210px) {
    .button_section .leadassign a {
        font-size: 10px !important;
        font-weight: 500 !important;
        padding: 5px 0px 5px 2px;
    }
}

@media (max-width: 1000px) {
    .main_count_header {
        padding-left: 0rem !important;
    }

    .body-cntnts {
        padding-left: 1rem !important;
    }
}

.modal-dialog.assignlead_modal {
    max-width: 1050px;
    margin: 0 auto;
}

.assign_table1 {
    width: 100%;
}

::ng-deep .ui-multiselect .ui-multiselect-label {
    padding: 0px 0em 0em .5em !important;
    border: none !important;
    color: rgba(191, 191, 191, 0.87) !important;
    font-size: 16px !important;
}

::ng-deep body .ui-multiselect .ui-multiselect-item.ui-state-highlight {
    background-color: #ffffff !important;
    color: #000000 !important;
}

::ng-deep .ui-multiselect {
    width: 250px !important;
    height: 2.71428571em !important;
}

::ng-deep body .ui-multiselect {
    padding: 0.5em 0em !important;
}

.statuscard {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.statusbatch {
    padding-block: 0.1rem;
    padding-inline: 1rem;
    border: 1px solid #0B7AB240;
    border-radius: 30px;
    background-color: #0B7AB240;
    color: #0B7AB2;
}

::ng-deep .leadstatusdrop .ui.selection.dropdown {
    background: #0B7AB2 !important;
    border: none !important;
    min-width: 4em !important;
    color: white !important;
    min-height: 0rem !important
}

::ng-deep .ui.selection.active.dropdown {
    border-color: none !important;
    box-shadow: 0px 0px 0px 0px !important;
}

::ng-deep .ui.selection.dropdown .menu {
    width: auto !important;
}

.blurred {
    filter: blur(1px);
    pointer-events: none;
    opacity: 0.6;
}

.propsearch {
    width: 90% !important;
    margin-left: 10px !important;
}

.propertyBasedFilter .dropdown-item {
    padding: .25rem 1rem !important;
}

.dropdown-search-container {
    position: sticky;
    top: 0;
    background: #fff;
    padding-top: 3px;
    border-bottom: 1px solid #ddd;
}

.dropdown-menu {
    padding: 0 !important;
}

::ng-deep bs-daterangepicker-container {
    position: absolute;
    top: 223px !important;
}

::ng-deep bs-daterangepicker-container.recievedleadsdatepkr {
    left: 25rem !important;
}

::ng-deep bs-daterangepicker-container.nextactiondatepkr {
    right: 31rem;
    left: unset !important;
}

::ng-deep bs-daterangepicker-container.visiteddatepkr {
    right: 3rem;
    left: unset !important;
}

::ng-deep bs-daterangepicker-container.assignedOndatepkr {
    right: 3rem;
    left: unset !important;
}

.dropdown-menu {
    position: relative;
}

.dropdown-item:hover {
    background-color: #c9ce9e;
}

.dropdown-item:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 15px;
    background: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 5rem !important;
}

.submenu-item:hover {
    background-color: #97abc0;
}

.submenu-item {
    display: block;
    padding: 3px 16px;
    color: black;
    text-decoration: none;
}

#dealcloserequest label {
    font-weight: bold;
}

.button_section .planleadassign {
    background-color: #ffffff !important;
    border-radius: 50px;
    padding-inline: 0.2rem;
    padding-block: 0.2rem;
}

.button_section .planleadassign a {
    flex-shrink: 0;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin: 0 0px 0 0px;
    cursor: pointer;
    float: left;
    color: #000000;
    border: none;
    padding: 6px 22px 6px 22px;
}

.button_section .planleadassign a.active {
    color: #ffffff;
    background: #0B7AB2;
    border-radius: 50px;
    border: 1px solid #0B7AB2;
    border-bottom: none;
    font-weight: 700;
    font-size: 14px;
}

::ng-deep body .ui-dropdown {
    border: 1px solid #d6d6d6;
    width: 220px !important;
    height: 2.7rem !important;
}

::ng-deep .ui-dropdown label.ui-dropdown-label {
    cursor: pointer;
    color: rgba(191, 191, 191, 0.87) !important;
}

::ng-deep body .ui-inputtext {
    padding: 0.65em 0.75em !important;
}

.visitype {
    font-size: 16px;
    /* font-weight: 900; */
    /* padding-top: 8px; */
    display: flex;
    align-items: center;
    gap: 1rem;
}

.font_style {
    font-style: normal;
    padding-inline: 15px;
    padding-block: 3px;
    border: 1px solid #D4D9DE;
    background: white;
    color: #727272;
    cursor: pointer;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 6px;
}

.visittype_active {
    border: 1px solid #0B7AB2 !important;
    color: #0B7AB2 !important;
    font-weight: 700 !important;
}

.inactive_count , .junkVisits_count , .junk_count{
    border: 1px solid #0B7AB2 !important;
    color: #0B7AB2 !important;
    font-weight: 700 !important;
}

.call_des{
    /* padding-inline:10px;
    padding-block: 4px;
    background: #0B7AB2;
    color: #ffffff;
    border-radius: 50px;
    display: inline-flex;
    gap: 0.5rem;
    align-items: center; */
    cursor: pointer;
    width: 20px;
    height: 20px;
}

/* .call_des:hover {
  background-color: green;
} */

.call_lead_modal{
	max-width: 1100px;
    margin: 0 auto;
}

.call_lead_modal .answered_call {
    background: linear-gradient(540deg, #68B768 0%, #006900 80%);
    color: #ffffff !important;
}

.call_lead_modal .disconnected_call {
    background: linear-gradient(540deg, #F68E8E 0%, #B40101 100%) !important;
    color: #ffffff !important;
}

.call_lead_modal .close {
  opacity: 10 !important;
  font-size: 20px;
}

.gap-3{
    gap: 1rem;
}

.call_recordings{
    background: #0B7AB2;
    color: #ffffff;
}

.font_18{
    font-size: 18px;
    font-weight: 500;
}

.font_12{
    font-size: 12px;
    font-weight: 300;
    color: #8C8C8C;
}

.execnav-scrollable {
    overflow-x: auto;
    overflow-y: hidden;
}

.execnav {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    cursor: pointer;
    gap: 1rem;
}

.execnav-tabs .exec-link {
    font-size: 16px;
    color: #606060;
    background-color: #F1F1F1;
    border: 2px solid transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-inline: 1rem;
    padding-top: 0.5rem;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    border-bottom: none;
}

.execnav-tabs .exec-link.active {
    color: #0B7AB2;
    font-weight: 500;
    background-color: #DEF4FF;
    border-color: #0B7AB2;
}

.media-item {
  max-width: 100vw;
  width: 250px !important;
  max-height: 70px;
  height: 40px;
  display: block;
}

audio::-webkit-media-controls-panel {
  background-color: #D8F2FF;
  color: #ffffff !important;
}

audio::-webkit-media-controls-play-button{
  background-color: #ffffff !important;
  color: #0B7AB2 !important;
  border-radius: 50%;
}

audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-volume-slider {
  filter: brightness(0) saturate(100%) invert(27%) sepia(90%) saturate(1374%) hue-rotate(173deg) brightness(95%) contrast(101%);
}

.recordings_content_table_main thead{
    background: #C4E6F8 !important;
    font-weight: 400;
}

.recordings_content_table_main tbody tr{
    background: #ffffff !important;
    font-weight: 400;
    border-bottom: 1px solid lightgray;
} 

.button_stage_section .planleadstage {
    background-color: #ffffff !important;
    border-radius: 3px;
    padding-inline: 0.2rem;
    padding-block: 0.2rem;
}

.button_stage_section .planleadstage a {
    flex-shrink: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0px 0 0px;
    cursor: pointer;
    float: left;
    color: #000000;
    border: none;
    padding: 2px 15px 2px 15px;
}

.button_stage_section .planleadstage a.active {
    color: #ffffff;
    background: #00334C;
    border-radius: 3px;
    border: 1px solid #00334C;
    border-bottom: none;
    font-weight: 500;
    font-size: 14px;
}

.last_update{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 2px;
    padding-inline: 5px;
    background: lightgray;
    border-top-left-radius: 12px;
    color: black;
}

.button_section .inactive_leadassign {
    background-color: #ffffff !important;
    border-radius: 50px;
    padding-inline: 0.2rem;
    padding-block: 0.2rem;
}

.button_section .inactive_leadassign a {
    flex-shrink: 0;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin: 0 0px 0 0px;
    cursor: pointer;
    float: left;
    color: #000000;
    border: none;
    padding: 5px 10px 5px 10px;
}

.button_section .inactive_leadassign a.active {
    color: #ffffff;
    background: #0B7AB2;
    border-radius: 50px;
    border: 1px solid #0B7AB2;
    border-bottom: none;
    font-weight: 700;
    font-size: 14px;
}

.blocked_des{
    background: linear-gradient(180deg, #A80303 0%, #E80A0A 100%);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    padding-inline:6px;
    padding-block: 4px;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.big_size{
    border-radius: 4px !important;
    width: 18px !important;
}

.mark_as_active{
    font-size: 14px;
    font-weight: 500;
    color: #407600;
    background: #FDFFFA;
    border: 0.8px solid #559D00;
    border-radius: 600px;
    padding-inline: 15px;
    padding-block: 3px;
    display: inline-flex;
    margin-top: 0.5rem;
    margin-inline: 1.5rem;
    cursor: pointer;
}

.bg_color{
    background: #f4f4f4 !important;
}

.stageStatusCard{
    background: #D8EEFF;
    color: #003F71;
    padding-inline: 10px;
    padding-block: 2px;
    border-radius: 60px;
    font-size: 14px;
    font-weight: 300;
}

.priority_hot {
    color: #F2591F !important;
    border: 0.6px solid #F2591F;
    border-radius: 30px;
    padding-block: 0rem;
    padding-inline: 1rem;
    background: #FFE2D7;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.priority_cold {
    color: #008CD2 !important;
    background: #E4F6FF;
    border: 0.6px solid #008CD2;
    border-radius: 30px;
    padding-block: 0rem;
    padding-inline: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.priority_warm {
    color: #F5BD00 !important;
    background: #FFF5D4;
    border: 0.6px solid #F5BD00;
    border-radius: 30px;
    padding-block: 0rem;
    padding-inline: 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

::ng-deep .p-multiselect-panel {
    position: relative !important;
}

.update_priority_btn {
    border: 2px solid lightgrey;
    padding-inline: 10px;
    border-radius: 2px;
    color: #808080;
    font-size: 14px;
    font-weight: 400;
}

.update_priority_btn.active{
    border-color: #00334C;
    background: #00334C;
    color: #fff;
}

.history_modal_body .modal-header .close {
  margin: 0rem !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.style_close_btn {
  background: #FFFFFF !important;
  border: 0.5px solid #D9D9D9 !important;
  color: #656565 !important;
  padding-block: 0.3rem;
  padding-inline: 0.5rem;
  border-radius: 4px !important;
}

.history_modal{
    max-width: 650px !important;
}

.executive_style {
    background: #D4ECFF;
    color: #004B71;
    font-size: 20px;
    font-weight: 500;
    padding-inline: 15px;
    height: 32px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.assigned_col{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    background: #558FA8;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.not_assigned_col{
    font-size: 16px;
    font-weight: 400;
    color: #9D2728;
    background: #FFD7C7;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.untouched_col{
    font-size: 16px;
    font-weight: 400;
    color: #624A00;
    background: #FFF1C8;
     height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.assigned_inner_row{
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.6px solid #8DCBE6;
    border-left: 0.6px solid #8DCBE6;
    background: #FBFDFF;
    color: #005579;
    font-size: 12px;
    font-weight: 400;
    padding-inline:10px;
}

.not_assigned_inner_row{
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.6px solid #FFD8C9;
    border-left: 0.6px solid #FFD8C9;
    background: #FFF8F6;
    color: #9D2728;
    font-size: 12px;
    font-weight: 400;
    padding-inline:10px; 
}

.untouched_inner_row{
    height: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.6px solid #FFF1C8;
    border-inline: 0.6px solid #FFF1C8;
    background: #FFFCF2;
    color: #624A00;
    font-size: 12px;
    font-weight: 400;
    padding-inline:10px; 
}

.access_removed{
    background: #FFF3F3;
    border: 0.4px solid #B20B0B;
    color: #B20B0B;
    font-size: 10px;
    font-weight: 400;
    padding-inline: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    border-radius: 60px;
}

.overdued_date_style{
    color: #B20B0B;
    font-size: 10px;
    font-weight: 400;
}

.action-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 10px;
    border-radius: 2px;
    height: 18px;
    font-size: 10px;
    font-weight: 400;
    cursor: pointer;
    color: #fff;
    width: 86px;
    user-select: none;
}

.enable_access_btn {
    background: linear-gradient(180deg, #559D00 0%, #0C6D00 100%);
}

.re_assign_overdue_btn {
    background: linear-gradient(180deg, #2196F3 0%, #0B7AB2 100%);
}

.overdue_assign{
    max-width: 300px !important;
}

.overdue_modal_body .modal-header .close {
  margin: 0rem !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.execname_style{
    background: #9DDEFF;
    border: 0.4px solid #1F79A7;
    color: #00334C;
    font-size: 8px;
    font-weight: 400;
    border-radius: 60px;
    height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    padding-inline: 5px;
    max-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.exec_connect_line{
    width: 10px;
    border: 0.4px solid #1F79A7;
}

.box {
  background: #9DDEFF;
  border: 0.4px solid #1F79A7;
  color: #00334C;
  font-size: 10px;
  font-weight: 400;
  padding-inline: 40px;
  border-radius: 50px;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  width: 180px;
  justify-content: center;
}

.exec-wrapper {
  position: relative;
}

.box.with-line::after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 30px;
  background-color: #1F79A7;
  z-index: -999;
}
