/* CENTER-CONTENTS */
html,
body {
    overflow: hidden;
}

.body-cntnts {
    /* padding-left: 15rem !important; */
    width: 100% !important;
    margin: 0px 0px 10px 0px !important;
    background-color: #F5F7F9 !important;
    padding-right: 21px;
}

.enquiry_content_main {
    background: #f4f4f4;
    float: left;
    height: 100%;
    /* padding-left: 0.2rem; */
    width: 100% !important;
}

.enquiry_content_main .button_section {
    margin: 0;
    /* margin-inline: 5px; */
    float: left;
    display: flex;
    justify-content: center;
}

.enquiry_content_main tbody tr td a.id_style {
    text-decoration: underline;
}

.enquiry_content_main .button_section:after {
    content: "";
    display: block;
    clear: both;
}

.enquiry_content_main .button_section .create_new_enquiry {
    float: left;
    margin: 10px 0 0 0;
}

.enquiry_content_main .button_section .leadassign {
    float: left;
    width: 98%;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-inline: 4px;
}

.enquiry_content_main .button_section .leadassign a {
    flex-shrink: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 15px 5px 15px;
    margin: 0 20px 0 0;
    cursor: pointer;
    float: left;
    color: #999;
    background: #edebeb;
    border-radius: 4px;
}

.enquiry_content_main .button_section .leadassign a.active {
    background: #0B7AB2;
    color: #fff;
}

.enquiry_content_main .button_section .download {
    float: right;
}

.enquiry_content_main .button_section .download a {
    text-decoration: none;
    display: block;
    font-size: 14px;
    color: #252525;
    font-weight: 700;
    padding: 6px 15px 0px 15px;
}

.filterspan {
    color: #9f9b9b;
    display: inline-block;
    width: 100%;
}

/*============= Enquiry Table CSS Start =========================*/

.CSassigned_table {
    overflow: scroll;
    width: 100%;
    height: 680px;
}

.lead_norecord {
    position: relative;
    top: 220px;
    font-weight: 700;
}

.enquiry_table_body {
    font-size: 14px;
    overflow-y: auto;
    width: 100%;
}

.content_table_main {
    width: 100%;
}

.content_table_main tbody tr {
    width: 100%;
    border-bottom: 1px solid #dddddd;
    padding: 8px 0px 2px 0px;
}

.content_table_main thead {
    background: #05abe0;
    position: sticky;
    top: 0;
    z-index: 1;
}

.content_table_main thead tr th {
    padding: 8px 0px 8px 6px;
    color: #FFF;
    font-size: 13px;
    font-weight: 400;
}

.content_table_main tbody tr td {
    padding: 10px 4px 10px 4px;
    color: #666666;
    width: 150px;
    position: relative;
}

.content_table_main tbody tr td:nth-child(1) {
    width: 10px !important;
}

.content_table_main tbody tr td:nth-child(2) {
    width: 300px;
}

.content_table_main .enquiry_table_body {
    border-bottom: 1px solid #e7e7e7;
}

.content_table_main tbody tr td a.btn_reassgn {
    border: 1px solid #999;
    padding: 4px 6px 4px 6px;
    cursor: pointer;
}

.even-row {
    background-color: white;
}

.odd-row {
    background-color: #f4f4f4;
}

.fas {
    margin: 0px 5px 0px 0px;
}

.reassignlead_modal {
    max-width: 1050px;
    margin: 0 auto;
}

.assignlead_modal{
    max-width: 1050px;
    margin: 0 auto;
}

.font-bold{
    margin: 0;
}

/* New Design concept from ROLO */

.crm-sub-container {
    order: 2;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-direction: row;
}

.panel-1 {
    order: 1;
    flex-grow: 1;
    min-width: 50%;
    background: #ddd;
}

.crm-auto-scroll {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.padding-medium {
    padding: 0 16px;
}

.panel-content {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 0px #dcdee0;
}

.panel-2 {
    order: 2;
    flex-grow: 1;
    margin-left: 16px;
    background: #000;
    min-width: 50%;
}

.cursor-pointer {
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

.chip {
    display: inline-block;
    font-size: 14px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.closebtn:hover {
    color: #000;
}

.main_count_header {
    background: #0B7AB229;
    color: #000000;
    /* padding-left: 12.5em !important; */
    padding-top: 2rem;
    padding-inline: 0.5rem;
}

.table-container {
    /* box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 25%), 0px 2px 6px 2px rgb(60 64 67 / 10%);
    border-radius: 12px; */
    padding-block: 0.5rem;
    background-color: #F5F7F9;
}

.dropdown-search-container {
    position: sticky;
    top: 0;
    background: #fff;
    padding-top: 3px;
    border-bottom: 1px solid #ddd;
}

.dropdown-menu {
    padding: 0 !important;
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .body-cntnts {
        width: 100%;
    }

    .enquiry_content_main {
        width: 100%;
    }
}

@media (min-width: 500px) and (max-width: 1279px) {
    .enquiry_content_main .button_section .leadassign a {
        font-size: 10px;
        font-weight: 500;
        padding: 5px 0px 5px 3px;
    }
}

@media (min-width: 1250px) and (max-width: 1366px) {}

@media (max-width: 1000px) {
    .main_count_header {
        padding-left: 0.2rem !important;
    }

    .body-cntnts {
        padding-left: 0.2rem;
    }
}

::ng-deep .ui-multiselect .ui-multiselect-label {
    padding: 0px 0em 0em .5em !important;
    border: none !important;
    color: rgba(191, 191, 191, 0.87) !important;
    font-size: 16px !important;
}

::ng-deep body .ui-multiselect .ui-multiselect-item.ui-state-highlight {
    background-color: #ffffff !important;
    color: #000000 !important;
}

::ng-deep .ui-multiselect {
    width: 245px !important;
    height: 2.71428571em !important;
}

::ng-deep body .ui-multiselect {
    padding: 0.5em 0em !important;
}

.button_section .planleadassign {
    background-color: #ffffff !important;
    border-radius: 50px;
    padding-inline: 0.2rem;
    padding-block: 0.2rem;
}

.button_section .planleadassign a {
    flex-shrink: 0;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin: 0 0px 0 0px;
    cursor: pointer;
    float: left;
    color: #000000;
    border: none;
    padding: 5px 10px 5px 10px;
}

.button_section .planleadassign a.active {
    color: #ffffff;
    background: #0B7AB2;
    border-radius: 50px;
    border: 1px solid #0B7AB2;
    border-bottom: none;
    font-weight: 700;
    font-size: 14px;
}

.assign_table1 {
    height: 500px;
    overflow: auto;
    border-radius: 10px;
    width: 100%;
}

.gap-05 {
    gap: 0.5rem;
}