.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  padding-left: var(--bs-gutter-x, 2.5rem) !important;
}

.hoverclass {
  cursor: pointer;
}

.btn-danger.btn-simple {
  background: #f0f2f5 !important;
  color: #727272 !important;
  border: 1px solid #727272 !important;
  border-radius: 5px !important;
}

.btn-danger.btn-simple.active {
  background-color: #0B7AB2 !important;
  border: 1px solid #0B7AB2 !important;
  color: #ffffff !important;
  background-image: none !important;
}

.btn-danger,
.btn.bg-gradient-danger {
  box-shadow: none !important;
}

.card .card-header {
  padding-inline: 0.5rem !important;
  padding-block: 0.5rem !important;
}

.card .card-body {
  padding-inline: 0.5rem !important;
  padding-block: 0.5rem !important;
}

.buttonwithicon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.cursor-pointer {
  cursor: pointer;
}

.navbar-vertical.navbar-expand-xs {
  max-width: 0em !important;
}

.font-16 {
  font-size: 16px;
}

.footer_text {
  font-weight: 400;
  color: #1467A5;
  text-align: start;
}

::ng-deep body .ui-dropdown {
    width: 17rem !important;
}