::ng-deep body {
    background: #F2F2F2 !important;
}

.active_content_main {
    background:#f4f4f4;
    float: left;
    width: 100%;
    height: 100%;
    margin: 10px 30px 0px 0px;
    border-radius: 10px;
}

.btn_section{
    background: #0B7AB229;
    padding-top: 27px;
    display: flex;
    justify-content: end;
    /* padding-left: 13.5em; */
    align-items: center;
}

button.saveBtn {
    float: left;
    background: #0B7AB2;
    border: 1px solid #0B7AB2;
    padding: 2px 40px;
    font-size: 14px;
    color: #FFF;
    font-weight: 400;
    text-decoration: none;
    margin: 20px 0 52px 0;
    display: block;
    text-align: center;
}

.active_table_main {
    border-radius: 10px;
}

.even-row {
    background-color: white !important;
}

.odd-row {
    background-color: #f4f4f4 !important;
}

.table-container {
    box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 25%), 0px 2px 6px 2px rgb(60 64 67 / 10%);
    padding-block: 0.5rem;
    border-radius: 12px;
    background-color: white;
}

.active_table_main thead {
    background: #0B7AB2;
    position: sticky;
    top: 0;
    z-index: 1;
}

.active_table_main tbody tr {
    width: 100%;
    border-bottom: 1px solid #dddddd;
    padding: 8px 0px 2px 0px;
}

.active_table_main thead tr th {
    padding: 8px 0px 8px 6px;
    color: #FFF;
    font-size: 13px;
    font-weight: 400;
}

.active_table_main tbody tr td {
    padding: 10px 0px 10px 6px;
    color: #666666;
    height: 42px;
    /* background: #fff; */
}

.active_table_main .active_table_body {
    border-bottom: 1px solid #e7e7e7;
}

.active_table_main tbody tr td a.id_style {
    text-decoration: underline;
}

.active_table_main tbody tr td a.btn_style {
    border: 1px solid #999;
    padding: 4px 16px 4px 16px;
    cursor: pointer;
}

.button_section {
    display: flow-root;
    padding-bottom: 5px;
}

.button_section .leadassign a.active{
    color: #0B7AB2;
	text-decoration: underline 2px;
    text-underline-offset: 10px;
}

.button_section .download{
	float:right;
}

.button_section .download a{
	text-decoration:none;
	display:block;
	font-size:14px;
	color:#252525;
	font-weight:700;
	padding:6px 15px 0px 15px;
}

.button_section .leadassign a{
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 0px 5px 15px;
    margin: 0 4px 0 0;
    cursor: pointer;
    float: left;
    color: #999;

}

.leadassign .addbtn{
    float: inline-end;
}

#new_executive{
    width: 40rem;
    margin:50px 0px 0px 0px; 
}

#new_executive .modal-header{
    background: #0B7AB2;
    text-align: center;
}

#new_executive .modal-header h4{
    color: #fff;
}

#new_executive .new_executive_form .save_btn button[disabled]{
	opacity: 0.6;
	cursor: not-allowed;
}

#new_executive .new_executive_form div.input_cmn_div{
	padding: 0px 15px 20px 15px;
}

#new_executive .new_executive_form .save_btn{
	margin:0;
}

#new_executive .new_executive_form .save_btn button {
    background: #0B7AB2;
    padding: 5px 79px;
    font-size: 14px;
    color: #FFF;
    font-weight: 400;
    text-decoration: none;
    border: 0px;
}

#new_executive .close {
    position: relative;
    z-index: 99;
	opacity:9;
	top: -50px;
    left: 2px;
    color: #FCFCFC;
    transform: rotate(90deg);
}

.col-sm-12{
    padding-right: 0px !important;
    padding-left: 0px !important;
}

::ng-deep .search-dropdown .search-dropdown__btn {
    height: 41px !important;
    width: 240px !important;
    border: 1px solid #e6e6e6 !important;
    border-radius: 0.25em !important;
}

::ng-deep .ui-multiselect .ui-multiselect-label {
    padding: .0px 0em 0em .25em !important;
    border: none !important;
}

::ng-deep body .ui-multiselect .ui-multiselect-item.ui-state-highlight {
    background-color: #ffffff !important;
    color: #000000 !important   ;
}

::ng-deep .ui-multiselect {
    width: 253px !important;
    height:3.4em !important;
}

::ng-deep body .ui-widget, body .ui-widget .ui-widget, body .ui-widget input, body .ui-widget select, body .ui-widget textarea, body .ui-widget button {
    font-size: 12px !important;
}

  @media (min-width:860px) and (max-width: 1024px) {
	/* .body-cntnts{
		width: 100%;
	} */
	
	.active_content_main{
		width: 93%;
	}
}

@media (min-width:720px) and (max-width: 860px) {
	.active_content_main{
		width: 100%;
	}
}

@media (min-width: 1025px) and (max-width: 1366px) {	
	.active_content_main{
		width: 99%;
	}
}

@media (min-width: 1367px) and (max-width: 1600px) {	
	.active_content_main{
		width: 99%;
	}
}

@media (min-width: 1900px) and (max-width: 1950px) {	
	.active_content_main{
		width: 99%;
	}
}

@media (min-width: 2000px) and (max-width: 2560px) {	
	.active_content_main{
		width: 99%;
	}
}

@media (min-width: 1180px) and (max-width: 1280px) {	
	.active_content_main{
		width: 99% !important;
	}
}

@media (min-width: 1024px) and (max-width: 1025px) {	
	.active_content_main{
		width: 99%;
	}
}

@media (max-width: 1000px) {
    .active_content_main{
	    margin: 55px 30px 0px 0px;
	}
}

.button_section .planleadassign {
    background-color: #ffffff !important;
    border-radius: 50px;
    padding-inline: 0.2rem;
    padding-block: 0.2rem;
}

.button_section .planleadassign a {
    flex-shrink: 0;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin: 0 0px 0 0px;
    cursor: pointer;
    float: left;
    color: #000000;
    border: none;
    padding: 6px 22px 6px 22px;
}

.button_section .planleadassign a.active {
    color: #ffffff;
    background: #0B7AB2;
    border-radius: 50px;
    border: 1px solid #0B7AB2;
    border-bottom: none;
    font-weight: 700;
    font-size: 14px;
}