.face2facemaindiv {
  margin: 15px 0px 0px 0px;
}

.userDetailsTitle {
  margin: 10px 0 3px 0;
}

.face2facemaindiv label {
  display: block;
  margin: 15px 5px 5px 0;
  font-size: 13px;
  color: #252525;
  font-weight: 400;
}

.face2facemaindiv textarea {
  border: 1px solid #a7a7a7;
  padding: 0px 7px;
  width: 100%;
  height: 60px;
  font-size: 14px;
  color: #666;
}

.face2facemaindiv button.saveBtn {
  float: left;
  background: #0B7AB2;
  border: 1px solid #0B7AB2;
  padding: 2px 40px;
  font-size: 14px;
  color: #FFF;
  font-weight: 400;
  text-decoration: none;
  margin: 20px 0 52px 0;
  display: block;
  width: 100%;
  text-align: center;
}

.main_suggested_div {
  max-width: 640px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

.selectedlist {
  border: 2px solid #ddd;
  display: inline-block;
  padding: 7px 7px 7px 7px;
  color: #a39b9b;
  font-weight: 600;
  margin: 0px 5px 0 0;
}

ul.ks-cboxtags {
  list-style: none;
  padding: 0px;
}

ul.ks-cboxtags li {
  display: inline;
}

ul.ks-cboxtags li label {
  display: inline-block;
  background-color: rgba(255, 255, 255, .9);
  border: 2px solid rgba(139, 139, 139, .3);
  color: #adadad;
  border-radius: 25px;
  white-space: nowrap;
  margin: 3px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all .2s;
}

ul.ks-cboxtags li label {
  padding: 8px 12px;
  cursor: pointer;
}

ul.ks-cboxtags li label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  padding: 2px 6px 2px 2px;
  content: "\f067";
  transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked+label::before {
  content: "\f00c";
  transform: rotate(-360deg);
  transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked+label {
  border: 1px solid #0B7AB2;
  background-color: #0B7AB240;
  color: #0B7AB2;
  font-weight: 700;
  transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}

ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

ul.ks-cboxtags li input[type="checkbox"]:focus+label {
  border: 2px solid #0B7AB2;
}

.addsuggestion {
  float: right;
  background: #0B7AB2;
  border: 1px solid #0B7AB2;
  color: #FFF;
  margin: 20px 0 52px 0;
  width: 50%;
  text-align: center;
}

.visitedBtn {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 11px;
  box-shadow: none;
  outline: none;
  transition: all .5s ease-in-out;
  float: left;
}

.cancledBtn {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 11px;
  box-shadow: none;
  outline: none;
  transition: all .5s ease-in-out;
  float: left;
}

.usvvisitupdate {
  float: right;
  background: #0B7AB2;
  border: 1px solid #0B7AB2;
  border-radius: 3px;
  color: #FFF;
  width: 30%;
  text-align: center;
  cursor: pointer;
}

.comma-list {
  display: inline;
  list-style: none;
  padding: 0px;
}

/* .comma-list li {
  display: inline;
  padding: 7px 11px 6px 10px;
  background-color: rgba(131, 65, 139, 0.25);
  color: rgb(131, 65, 139);
  font-weight: 700;
  border: 1px solid rgb(131, 65, 139);
} */

.headingdesign .heads {
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 15px;
  position: relative;
  color: #979393;
}

.headingdesign .heads:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 1px;
  width: 95%;
  max-width: 255px;
  background-color: #979393;
}

.headingdesign .heads:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 55px;
  background-color: #979393;
}

.datepickerdiv {
  width: 100%;
}

.timepickerdiv {
  width: 100%;
}

.crm-sub-container {
  order: 2;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
}

.panel-1 {
  order: 1;
  flex-grow: 1;
  min-width: 50%;
  background: #ddd;
}

.crm-auto-scroll {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.panel-2 {
  order: 1;
  flex-grow: 1;
  min-width: 50%;
  background: #ddd;
}

.panel-content {
  background-color: white;
  border-radius: 3px;
}

.nxtactionbtns {
  font-size: 12px;
  margin: 0 0 6px 0;
}

/* WISHLIST DESIGN */


#like-button:hover {
  cursor: pointer;
  color: #cd0928;
}

/* #like-button.not-liked {
  color: #000;
} */

#like-button.not-liked:hover {
  color: #cd0928;
}

/* #like-button.liked {
  color: #cd0928;
} */

#like-button.liked-shaked {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0) rotate(0deg);
  transform: rotate(0deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  perspective: 1000px;
}

@-webkit-keyframes shake {

  10%,
  90% {
    transform: translate3d(0, 0px, 0) rotate(0deg);
  }

  20%,
  80% {
    transform: translate3d(0, -2px, 0) rotate(5deg);
  }

  30%,
  50%,
  70% {
    transform: translate3d(0, 0px, 0) rotate(0deg);
  }

  40%,
  60% {
    transform: translate3d(0, -2px, 0) rotate(-5deg);
  }
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(0, 0px, 0) rotate(0deg);
  }

  20%,
  80% {
    transform: translate3d(0, -2px, 0) rotate(5deg);
  }

  30%,
  50%,
  70% {
    transform: translate3d(0, 0px, 0) rotate(0deg);
  }

  40%,
  60% {
    transform: translate3d(0, -2px, 0) rotate(-5deg);
  }
}

.likebtn {
  cursor: pointer;
  border: 1px solid red;
  display: inline-block !important;
  padding: 0.3rem;
  border-radius: 4px;
  width: 55%;
  text-align: center;
  margin: 5px 0px 0 0 !important;
}

.likeactive {
  background: #dc3545;
  color: #fff !important;
}

.updatevisit{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  font-size: 16px;  
  font-weight: 600;
}


/* WISHLIST DESIGN */