.body-cntnts {
    width: 100%;
    margin: 25px 0px 10px 10px !important;
    background: #F5F7F9;
}

.btn-danger.btn-simple {
    background: #f0f2f5 !important;
    color: #727272 !important;
    border: 1px solid #727272 !important;
    border-radius: 1px !important;
    padding-inline: 15px;
}

.btn-danger.btn-simple.active {
    background-color: #0B7AB2 !important;
    border: 1px solid #0B7AB2 !important;
    color: #ffffff !important;
    background-image: none !important;

}

.buttonwithicon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: .17rem .5rem !important;
    border-radius: 1px;
}

.cursor-pointer {
    cursor: pointer;
}

.CSassigned_table {
    overflow: scroll !important;
    width: 99%;
    height: calc(100dvh - 70px) !important;
}

.padding-medium {
    padding: 0 16px;
}

.even-row {
    background-color: white;
}

.odd-row {
    background-color: #f4f4f4;
}

.content_table_main tbody tr td {
    padding: 10px 4px 10px 4px;
    color: #666666;
    width: 150px;
    position: relative;
}

.content_table_main thead tr th {
    padding: 8px 0px 8px 6px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
}

.content_table_main .enquiry_table_body {
    border-bottom: 1px solid #e7e7e7;
}

.table-container {
    box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 25%), 0px 2px 6px 2px rgb(60 64 67 / 10%);
    border-radius: 12px;
    padding-block: 0.5rem;
    background-color: white;
}

/* .btn-secondary {
    color: ##0B7AB2;
    background-color: #D5D5D5 !important;
    border-color: #D5D5D5 !important;
} */

.liveCalls_modal {
    max-width: 1050px;
    margin: 0 auto;
}

.enquiry_modal_body .modal-header {
    background: #0B7AB2 !important;
    color: #ffffff;
}

.content_table_main tbody tr {
    width: 100%;
    border-bottom: 1px solid #dddddd;
    padding: 8px 0px 2px 0px;
}

.content_table_main thead {
    background: #0B7AB2 !important;
    color: #ffffff !important;
    position: sticky;
    top: 0;
    z-index: 1;
}

.checkin_status {
    background: #D5FFD5;
    border: 1px solid #D5FFD5;
    color: #006F00;
    padding: 2px 8px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
}

.checkout_status {
    background: #FFF0F2;
    border: 1px solid #FFF0F2;
    color: #D96570;
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
}

::ng-deep .ui.search.dropdown {
    min-width: 15rem !important;
}

.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.show>.btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(223, 219, 219, 0.5) !important;
}

.modal-dialog.execlog_modal {
    max-width: 750px;
    margin: 0 auto;
}

.enquiry_modal_body .modal-header {
    background: #AEE4FF !important;
    color: #000;
}

.modal-open .modal {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

.card_coverimg {
    width: 100%;
    height: 280px;
    background-size: cover;
    border-radius: 5px;
}

.round-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.two-line-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
    max-height: 3em;
}

.no_record {
    position: absolute;
    top: 100px;
    left: 300px;
    font-size: 16px;
    font-weight: 900;
    font-style: italic;
}

.online_text {
    font-size: 14px;
    color: #006F00;
    padding-inline: 3px;
    background: #006F001A;
    border-radius: 50px;
}

.offline_text {
    font-size: 14px;
    color: #D50004;
    padding-inline: 3px;
    background: #F4E6EB;
    border-radius: 50px;
}

.close_photo {
    position: absolute;
    right: 0px;
    z-index: 99;
    top: 0px;
    background: #ffffff;
    padding: 7px;
    border-bottom-left-radius: 15px;
}

.selected {
  background: #EBF8FF !important;
  border-left: 3px solid #0B7AB2;
}

.table-bordered th {
    border: none;
}

.table-bordered td {
    border: none;
    border-bottom: 1px solid #dee2e6 !important;
}

::ng-deep .ui.selection.dropdown {
    min-height: 2em !important;
}