.face_to_drop_form{
	margin:0;
}


.face_to_drop_form button.saveBtn{
    float: left;
      background: #0B7AB2;
      border: 1px solid #0B7AB2;
      padding: 2px 40px;
      font-size: 14px;
      color: #FFF;
      font-weight: 400;
      text-decoration: none;
      margin: 20px 0 52px 0;
      display: block;
      width: 100%;
      text-align: center;
  }

.headingdesign .heads {
	font-weight: 700;
	letter-spacing: 0;
	line-height: 1.5em;
	padding-bottom: 15px;
	position: relative;
	color: #979393;
	}
	
	.headingdesign .heads:after {
	  content: "";
	  position: absolute;
	  left: 0;
	  bottom: 2px;
	  height: 1px;
	  width: 95%;
	  max-width: 255px;
	  background-color: #979393;
	}
  
	.headingdesign .heads:before{
	  content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 5px;
	width: 55px;
	background-color: #979393;
	}

	.datepickerdiv{
		width: 100%;
	  }
	
	  .timepickerdiv{
		width: 100%;
	  }

	  .actionbtns{
		border: 1px solid #828282;
		background-color: white;
		color: #403E3E;
		font-weight: 400;
	  }
	  .iconmark{
		color: #E2E2E2;
	  }

.actions{
	border: 1px solid #0B7AB2;
	background-color: #0B7AB240;
	color: #0B7AB2;
	font-weight: 700;
}
.selectMark{
	color: #0B7AB2;
}

.commonbtns{
	margin: 4px 5px 4px 5px;
}

.main_suggested_div{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
  }
  .selectedlist{
    border: 2px solid #ddd;
    display: inline-block;
    padding: 7px 7px 7px 7px;
    color: #a39b9b;
    font-weight: 600;
    margin: 0px 5px 0 0;
  }
  ul.ks-cboxtags {
    list-style: none;
    padding: 0px;
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 1px solid #0B7AB2;
    background-color:#0B7AB240;
    color: #0B7AB2;
    font-weight: 700;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #0B7AB2;
}
ul.ks-cboxtags li.disabled{
  pointer-events:none;
  opacity:0.6;   
}