h5 {
  font-family: Segoe UI !important;
}

.main_count_header {
  color: #000000;
  padding-inline: 1rem;
  padding-top: 1.8rem;
  overflow: hidden !important;
  background: #ffffff !important;
}

.whatsup-chat-main-container {
  overflow: hidden;
  border-right: 1px solid #dbe4ea !important;
  box-shadow: 0px 0px 3px 0px #dcdee0 !important;
}

.chat-list-container {
  height: calc(100dvh - 140px);
  overflow: hidden;
}

.search_in {
  position: absolute;
  top: 9px;
  left: 15px;
  color: #54656f;
}

.more_options {
  padding-block: 0.5rem !important;
}

.button_section .chats_cat_types {
  border-radius: 50px;
  padding-inline: 0.2rem;
  padding-block: 0.2rem;
}

.button_section .chats_cat_types a {
  flex-shrink: 0;
  text-decoration: none;
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0px 0 0px;
  cursor: pointer;
  float: left;
  color: #54656f;
  background: #f0f2f5;
  border-radius: 50px;
  padding: 2px 20px 2px 20px;
}

.button_section .chats_cat_types a.active {
  color: #008069;
  background: #e7fce3;
  border-radius: 50px;
  border: 1px solid #e7fce3;
  border-bottom: none;
  font-weight: 600;
  font-size: 14px;
}

.chat_list {
  background: #ffffff;
  height: 60px !important;
  border-bottom: 1px solid #e7e7e7;
  align-items: center;
}

.selected {
  background: #F0F2F5 !important;
}

.icon_user {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background: #e7fce3;
  color: #008069;
  border-radius: 50px;
  cursor: pointer;
}

.show_text_mes {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: Segoe UI !important;
}

.online_text {
  font-size: 14px;
  color: #006F00;
  padding-inline: 3px;
  background: #006F001A;
  border-radius: 50px;
}

.offline_text {
  font-size: 14px;
  color: #D50004;
  padding-inline: 3px;
  background: #F4E6EB;
  border-radius: 50px;
}

.unread_messages {
  height: 20px;
  border-radius: 50px;
  color: white;
  background: #25d366;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-color-gr {
  color: #6A7175;
  font-size: 12px;
  font-weight: 400;
}

.show_text_mes {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

body .ui-dropdown {
  width: 200px !important;
  border-radius: 50px;
  border: none !important;
}

body .ui-dropdown .ui-dropdown-label {
  background: #E7FCE3 !important;
  color: #008069 !important;
  border-radius: 50px !important;
}

body .ui-dropdown .ui-dropdown-trigger {
  border-radius: 50px !important;
  background: #E7FCE3 !important;
  width: 2rem !important;
}

.single-chat-container {
  background: #F0F2F5;
  overflow: hidden;
}

.no_chat_selected {
  width: 100% !important;
  height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.whatsapp-input:focus {
  background-color: #fff;
  border-color: #25D366 !important;
  box-shadow: 0 0 0 0.2rem rgba(37, 211, 102, 0.25) !important;
}

.assignees_list {
  background: #fff;
  height: 30px;
}

.gap {
  gap: 0.25rem;
}

.gap-2 {
  gap: 2rem !important;
}

.assignee_text_name {
  font-size: 14px;
  color: #12B28C;
  font-weight: 400;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  user-select: none;
}

.assignee_text_name input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-mark {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #D1D1D6;
  border-radius: 50%;
}

.assignee_text_name input:checked+.radio-mark {
  background-color: #12B28C;
  border: 1px solid #12B28C;
  box-shadow: inset 0 0 0 4px #fff;
}

.text_process {
  background-image: url('../../../assets/images/whatsapp_chat_bg.svg');
  /* height: calc(100dvh - 185px); */
  overflow: scroll;
  background-attachment: fixed;
  background-size: cover;
  background-color: #EFEAE2;
  background-position: center;
  position: relative;
}

.send_text {
  background: #ffffff;
  padding-block: 0.5rem !important;
  z-index: 10;
  position: absolute;
  bottom: 0;
}

/* .send_text {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  padding: 0.5rem 1rem;
  border-top: 1px solid #ccc;
} */

.icon_btn {
  border: 1px solid #e7fce3;
  color: #25D366;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #e7fce3;
}

/* .attachment_section {
  background: #fff;
  position: absolute;
  bottom: 0px;
  height: 90px;
  display: flex;
  align-items: center;
  overflow: scroll;
  z-index: 99;
} */

/* .attachment_section_exec {
  background: #fff;
  position: sticky;
  bottom: 0px;
  height: 90px;
  display: flex;
  align-items: center;
  overflow: scroll;
  z-index: 99;
} */

.image-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.media-item {
  height: 100%;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  border-radius: 4px;
}

.closefile {
  position: absolute;
  top: -6px;
  right: 4px;
  background: #ffffff;
  color: #12B28C;
}

.message-bubble {
  display: inline-block;
  max-width: 80%;
  background-color: #ffffff;
  padding: 2px 10px;
  border-radius: 10px;
  word-wrap: break-word;
  word-break: break-word;
}

.arrow {
  position: absolute;
  top: -1.7px;
  left: -10px;
}

.own_arrow {
  position: absolute;
  top: 1px;
  right: -12px;
}

.message-options {
  padding: .25rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.message-text-container {
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.message-text {
  font-size: 14px;
  color: #555;
  font-family: "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.timestamp {
  color: #888;
  font-size: 10px;
  margin-left: 5px;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2px;
}

.message_options_icon {
  display: none;
}

.message-bubble:hover .message_options_icon {
  display: flex !important;
  align-items: center !important;
  justify-content: end !important;
}

.delete_message {
  padding-inline: 10px;
  padding-block: 5px;
  font-style: italic;
  font-weight: 600;
  background: #ffffff;
  color: #000;
}

.forwarded_text {
  font-style: italic;
  font-weight: 900;
  font-size: 10px;
  gap: 5px;
  display: flex;
  align-items: center;
}

.reply_message {
  padding-inline: 15px;
  padding-block: 2px;
  height: 60px;
  background: #f5f3f3;
  color: #000;
  border-radius: 3px;
  border: 1px solid #f5f3f3;
}

.search_mes {
  background: #ffffff;
}

.search_messages_body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 430px;
  font-size: 12px;
  color: #667781;
  overflow: auto;
}

.search_message_container {
  height: calc(100dvh - 172px);
  overflow: scroll;
}

.highlight {
  background-color: #E7FCE3 !important;
  transition: background-color 1s ease;
}

.showArrow {
  position: sticky;
  bottom: 10px;
  left: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #12B28C;
  text-align: center;
}

.mes_search_icon {
  color: #667781;
  position: absolute;
  top: 18px;
  left: 23px;
}

.more_options_down_arrow {
  position: absolute;
  padding-inline: 5px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  right: -10px;
  top: -2px;
  z-index: 999;
  background-color: rgb(255 255 255 / 32%);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(17px);
}

.more_options_down_arrow_attachment {
  position: absolute;
  padding-inline: 5px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  right: 0px;
  top: 0px;
  z-index: 999;
  background-color: rgb(255 255 255 / 32%);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(17px);
}

.icon_plus {
  color: #3B4A54;
  position: absolute;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.5rem
}

.mobile-number {
  color: #1b8755;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
  pointer-events: auto !important;
  width: 120px;
}

.popover {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  padding: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.copied_mes {
  background: #ffffff;
  color: #000;
  padding-inline: 10px;
  padding-block: 2px;
  border-radius: 5px;
  z-index: 999;
}

.left_mem {
  padding-block: 2px;
  border: 1px solid #ffffff;
  color: grey;
  background: #ffffff;
  border-radius: 5px;
  padding-inline: 10px;
}

.media-item {
  max-width: 100%;
  width: 200px;
  max-height: 70px;
  height: 40px;
  display: block;
}

audio::-webkit-media-controls-panel {
  background-color: #ffffff;
  /* background of the controls */
}

audio::-webkit-media-controls-play-button {
  background-color: #f5e940;
  border-radius: 50%;
}

audio::-webkit-media-controls-timeline {
  background-color: rgb(255, 255, 255);
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  color: #000000;
}

.search_close_icon {
  position: absolute;
  right: 15px;
  font-size: 16px;
  color: #00000099;
}

.loader-inside-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background: #ffffffad;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #3498db;
  border-radius: 50%;
  animation: lds-ring 1.2s linear infinite;
  border-color: #3498db transparent transparent transparent;
}


.filterspan {
  color: #9f9b9b;
  width: 100%;
  padding-bottom: 3px;
  position: sticky;
  top: 27px;
  background: white;
  z-index: 1;
}

.chip {
  display: inline-block;
  font-size: 14px;
  border-radius: 25px;
  background-color: #f1f1f1;
  margin-bottom: 2px;
}

.closebtn {
  padding-left: 3px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.gap {
  gap: 1rem !important;
}

.dis {
  display: flex;
  gap: 0.5rem;
}

.color-blue {
  color: #34B3F1;
}

::ng-deep .ui-progressbar {
  height: 0.3em;
}

::ng-deep body .color-blue .ui-progressbar .ui-progressbar-value {
  background: #34B3F1;
}

.call_lead_modal {
  max-width: 400px !important;
}

.hyperlink {
  text-decoration: none;
}

.hyperlink:hover {
  text-decoration: underline;
}