/* CENTER-CONTENTS */
html,
body {
    overflow: hidden;
}

.body-cntnts {
    /* padding-left: 15rem !important; */
    width: 99% !important;
    margin: 10px 0px 10px 0px !important;
    background-color: #F5F7F9 !important;
}

.clearfix {
    background-color: #F5F7F9;
}

.enquiry_content_main {
    background: #F5F7F9;
    float: left;
    height: 100%;
    width: 99% !important;
}

.enquiry_content_main .button_section {
    margin: 0;
    margin-inline: 5px;
    float: left;
    display: flex;
    justify-content: center;
}

.enquiry_content_main tbody tr td a.id_style {
    text-decoration: underline;
}

.enquiry_content_main .button_section:after {
    content: "";
    display: block;
    clear: both;
}

.enquiry_content_main .button_section .create_new_enquiry {
    float: left;
    margin: 10px 0 0 0;
}

.enquiry_content_main .button_section .leadassign {
    float: left;
    width: 98%;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-inline: 4px;
}

.enquiry_content_main .button_section .leadassign a {
    flex-shrink: 0;
    text-decoration: none;
    display: block;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 20px 5px 20px;
    margin: 0 20px 0 0;
    cursor: pointer;
    float: left;
    color: #999;
    background: #edebeb;
    border-radius: 4px;
}

.button_section .planleadassign {
    background-color: #ffffff !important;
    border-radius: 50px;
    padding-inline: 0.2rem;
    padding-block: 0.2rem;
}

.button_section .planleadassign a {
    flex-shrink: 0;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin: 0 0px 0 0px;
    cursor: pointer;
    float: left;
    color: #000000;
    border: none;
    padding: 5px 10px 5px 10px;
}

.button_section .planleadassign a.active {
    color: #ffffff;
    background: #0B7AB2;
    border-radius: 50px;
    border: 1px solid #0B7AB2;
    border-bottom: none;
    font-weight: 700;
    font-size: 14px;
}

.filterspan {
    color: #9f9b9b;
    display: inline-block;
    width: 100%;
    padding-block: 3px;
}

.enquiry_content_main .button_section .leadassign a.active {
    /* color: #4183C4;
	text-decoration: underline 2px;
    text-underline-offset: 5px; */
    background: #0B7AB2;
    color: #fff;
}

.enquiry_content_main .button_section .download {
    float: right;
}

.enquiry_content_main .button_section .download a {
    text-decoration: none;
    display: block;
    font-size: 14px;
    color: #252525;
    font-weight: 700;
    padding: 6px 15px 0px 15px;
}

/*============= Enquiry Table CSS Start =========================*/

.content_table_main {
    width: 100%;
}

.CSassigned_table {
    height: 680px;
    overflow: auto;
    width: 100%;
}

.lead_norecord {
    position: relative;
    top: 220px;
    font-weight: 700;
}

.enquiry_table_body {
    font-size: 13px;
    overflow-y: auto;
    width: 100%;
}

.content_table_main tbody tr {

    width: 100%;
    border-bottom: 1px solid #dddddd;
    padding: 8px 0px 2px 0px;
}

.content_table_main thead {
    background: #05abe0;
    position: sticky;
    top: 0;
    z-index: 1;
}

.content_table_main thead tr th {
    padding: 10px 0px 10px 6px;
    color: #FFF;
    font-size: 13px;
    font-weight: 400;
}

.content_table_main tbody tr td {
    padding: 10px 4px 10px 4px;
    color: #666666;
    width: 150px;
    position: relative;
}

.content_table_main tbody tr td:nth-child(1) {
    width: 10px !important;
}

.content_table_main tbody tr td:nth-child(2) {
    width: 300px;
}

.content_table_main .enquiry_table_body {
    border-bottom: 1px solid #e7e7e7;
}

.content_table_main tbody tr td a.btn_reassgn {
    border: 1px solid #999;
    padding: 4px 6px 4px 6px;
    cursor: pointer;
}

/*============= Enquiry Table CSS End =========================*/
.fas {
    margin: 0px 5px 0px 0px;
}

/* New Design concept from ROLO */
.crm-sub-container {
    order: 2;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-direction: row;
}

.panel-1 {
    order: 1;
    flex-grow: 1;
    min-width: 50%;
    background: #ddd;
}

.padding-medium {
    padding: 0 16px;
}

.panel-content {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 0px #dcdee0;
}

.cursor-pointer {
    cursor: pointer;
}

/* New Design concept from ROLO */

input[type="radio"] {
    display: none;
}

.chip {
    display: inline-block;
    font-size: 14px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.closebtn:hover {
    color: #000;
}

.main_count_header {
    background: #0B7AB229;
    color: #000000;
    /* padding-left: 15.5em !important; */
    padding-top: 2rem;
    padding-inline: 0.5rem;
}

.table-container {
    box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 25%), 0px 2px 6px 2px rgb(60 64 67 / 10%);
    /* padding-block:0.5rem; */
    border-radius: 12px;
    background-color: white;
}

.statuscard {
    display: flex;
    justify-content: space-between;
}

.statusbatch {
    padding-block: 0.1rem;
    padding-inline: 1rem;
    border: 1px solid #0B7AB240;
    border-radius: 30px;
    background-color: #0B7AB240;
    color: #0B7AB2;
}

.anchor.disabled {
    cursor: not-allowed;
    text-decoration: none;
}

.propertyname_td {
    height: 45px !important;
    overflow: hidden;
}

.showall_prop {
    font-size: 12px;
    float: right;
    font-style: italic;
    font-weight: 800;
    text-decoration: underline;
    cursor: pointer;
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .body-cntnts {
        width: 99%;
    }

    .enquiry_content_main {
        width: 85%;
    }
}

@media (max-width: 1210px) {
    .enquiry_content_main .button_section .leadassign a {
        font-size: 10px !important;
        font-weight: 500 !important;
        padding: 5px 0px 5px 2px;
    }
}

@media (max-width: 1000px) {
    .main_count_header {
        padding-left: 0rem !important;
    }

    .body-cntnts {
        padding-left: 1rem !important;
    }
}

::ng-deep bs-daterangepicker-container {
    position: absolute;
    top: 223px !important;
}

::ng-deep bs-daterangepicker-container.nextactiondatepkr {
    right: 31rem;
    left: unset !important;
}

::ng-deep bs-daterangepicker-container.visiteddatepkr {
    right: 3rem;
    left: unset !important;
}


.dropdown-menu {
    position: relative;
}

.dropdown-item:hover {
    background-color: #c9ce9e;
}

.dropdown-item:hover .submenu {
    display: block;
}

.btn-primary {
    color: #0B7AB2;
    background-color: #ffffff;
    border-color: #0B7AB2;
}

.btn-primary:focus {
    color: #ffffff;
    background-color: #0B7AB2;
    border-color: #0B7AB2;
}

.gap-05 {
    gap: 0.5rem
}

  .call_des{
    /* padding-inline:10px;
    padding-block: 4px;
    background: #0B7AB2;
    color: #ffffff;
    border-radius: 50px;
    display: inline-flex;
    gap: 0.5rem;
    align-items: center; */
    cursor: pointer;
}

.gap-3{
    gap: 1rem;
}

/* .call_des:hover {
  background-color: green;
} */

.call_lead_modal{
	max-width: 1100px;
    margin: 0 auto;
}

.call_lead_modal .answered_call {
    background: linear-gradient(540deg, #68B768 0%, #006900 80%);
    color: #ffffff !important;
}

.call_lead_modal .disconnected_call {
    background: linear-gradient(540deg, #F68E8E 0%, #B40101 100%) !important;
    color: #ffffff !important;
}

.call_lead_modal .close {
  opacity: 10 !important;
  font-size: 20px;
}
  
.call_recordings{
    background: #0B7AB2;
    color: #ffffff;
}

.font_18{
    font-size: 18px;
    font-weight: 500;
}

.font_12{
    font-size: 12px;
    font-weight: 300;
    color: #8C8C8C;
}

.execnav-scrollable {
    overflow-x: auto;
    overflow-y: hidden;
}

.execnav {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    cursor: pointer;
    gap: 1rem;
}

.execnav-tabs .exec-link {
    font-size: 16px;
    color: #606060;
    background-color: #F1F1F1;
    border: 2px solid transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-inline: 1rem;
    padding-top: 0.5rem;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    border-bottom: none;
}

.execnav-tabs .exec-link.active {
    color: #0B7AB2;
    font-weight: 500;
    background-color: #DEF4FF;
    border-color: #0B7AB2;
}

.media-item {
  max-width: 100vw;
  width: 250px !important;
  max-height: 70px;
  height: 40px;
  display: block;
}

audio::-webkit-media-controls-panel {
  background-color: #D8F2FF;
  color: #ffffff !important;
}

audio::-webkit-media-controls-play-button{
  background-color: #ffffff !important;
  color: #0B7AB2 !important;
  border-radius: 50%;
}

audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-volume-slider {
  filter: brightness(0) saturate(100%) invert(27%) sepia(90%) saturate(1374%) hue-rotate(173deg) brightness(95%) contrast(101%);
}

.recordings_content_table_main thead{
    background: #C4E6F8 !important;
    font-weight: 400;
}

.recordings_content_table_main tbody tr{
    background: #ffffff !important;
    font-weight: 400;
    border-bottom: 1px solid lightgray;
} 

/* .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 15px;
    background: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 5rem !important;
}

.submenu-item:hover {
    background-color: #97abc0;
}

.submenu-item {
    display: block;
    padding: 3px 16px;
    color: black;
    text-decoration: none;
} */